

html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgba(0, 31, 63, 1);
    
    overflow: hidden;
}

main{
    height: 100vh; 
    width: 100%;
    position: relative;
    overflow: hidden;
}


.profile_background{
    position: absolute;
   
    top: 0;
    width: 90%;
    height: 10%;
    left: -10vh;
}

/*father*/
.container_profile{
    position: relative;
    display: flex;
    width: 70%;
    height: 75%;
    top: 20vh;
    left: 10vh;
    align-items: center;
    color: white;
    
}



.svg_profile{
    position: absolute;
  
    width: 100%;
    height: 100%;
}

/*First son*/
.container_photo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    
}


.head_icon{
    width: 50%;
    z-index: 10;
    top: 14vh;
    position: absolute;
    
}


.body_icon{
    z-index: 9;
    top: 34.4vh;
    width: 80%;
    position: absolute;
}

.background_icon{
    width: 95%;
    position: relative;
}




/*Second son*/
.container_form{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.profile_form{
    
    display: flex;
    
    
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;
    flex-direction: column;
   
}

form h1{
    position: absolute;
    top: 10vh;
}


.container_cat_color_svg{
    display: flex;
    
    gap: 3vh;
    align-items: center;
    width: 100%;
    height: 100%;
    
    
}

.container_father_cat{
    width: 50%;
    height: 60%;
    position: relative;
    top: 10vh;
    
}

.container_father_color{
    width: 40%;
    height: 60%;
    position: relative;
    top: 8.5vh;
}

.svg_categorias{  
    width: 100%;
    position: absolute;
}

.svg_colores{
    
    width: 100%;
    position: absolute;
   
   
}


.container_category{
    width: 100%;
    height: 100%;
    position: absolute;
}

.container_category .ul{
    position: relative;
    width: 100%;
   
    display: flex;
    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container_category .li{
    padding: 1vh;
    margin: 0 1vh 1vh 1vh;
    
    transition: all .5s ease;
    color: white;
    font-size: large;
    
}

.container_category .li.active{
    color: green;
   
}

.container_category .sub_container{
    width: 100%;
    height: 100%;
    
    position: relative;
}

.container_category .block{
    
    position: absolute;
    opacity: 0;
    width: 100%;
    transition: all .5s ease;
}

.container_category .block.active{
    
    opacity: 1;
    width: 100%;
    z-index: 1;
    
}

.input_cat{
    display: flex;
}

.input_cat div{
   width: 30%;
}


.containter_colors{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: right;

}

.containter_colors h2{
    margin: 0 0 4vh 0;
    padding: 1vh ;
    
}


.color_head {
    opacity: 0;
    transition: all .5s ease;
    position: absolute;
    width: 25%;
}

.color_head.active {
    opacity: 1;
    
}

.color_body{
    opacity: 0;
    transition: all .5s ease;
    position: absolute;
    width: 25%;
}

.color_body.active{
    opacity: 1;
    
}

.color_backgraund {
    transition: all .5s ease;
    opacity: 0;
    position: absolute;
    width: 25%;

}

.color_backgraund.active {
    
    opacity: 1;

}


.button_control{
    width: auto;
    height: auto;
    position: absolute;
    display: flex;
    bottom: -14vh;
    right: -58vh;
    z-index: 3;
    
}

.button_control p{
    position: relative;
    color: white;
    font-size: x-large;
    z-index: 4;
    top: -15vh;
    
    
}

.btn_form_save{
    width: 60%;
    position: relative;
    left: 8vh;
    

}

.text_save{
    position: relative;
    width: auto;
    height: auto;
    left: 13.5vh;
    bottom: .5vh;
    
}

.btn_form_discard{
    width: 60%;
    position: relative;
    

}

.text_discard{
    position: relative;
    width: auto;
    height: auto;
    left: 4.5vh;
    bottom: .5vh;
}

button{
    all: unset;
}




label{

    font-size: large;
    padding: 5px;
    
    
    


}


