html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgba(0, 31, 63, 1);
    
    overflow: hidden;
}

main{
    height: 100vh; 
    width: 100%;
    position: relative;
    overflow: hidden;
}


.profile_background{
    position: absolute;
   
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}

.svg_background{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 120px;
}

/*father*/
.container_profile{
    position: relative;
    display: flex;
    width: 70%;
    height: 75%;
    top: 20vh;
    left: 10vh;
    align-items: center;
    color: white;
    
}



.svg_profile{
    position: absolute;
  
    width: 100%;
    height: 100%;
}

/*First son*/
.container_photo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    
}


.head_icon{
    width: 50%;
    z-index: 10;
    top: 14vh;
    position: absolute;
    pointer-events: none;
    
}


.body_icon{
    z-index: 9;
    top: 34.4vh;
    width: 80%;
    pointer-events: none;
    position: absolute;
   
}

.background_icon{
    width: 95%;
    position: relative;
    pointer-events: none;
}




/*Second son*/
.container_form{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.profile_form{
    
    display: flex;
    
    
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;
    flex-direction: column;
   
}

form h1{
    position: absolute;
    top: 10vh;
}


.container_cat_color_svg{
    display: flex;
    
    gap: 3vh;
    align-items: center;
    width: 100%;
    height: 100%;
    
    
}

.container_father_cat{
    width: 50%;
    height: 60%;
    position: relative;
    top: 10vh;
    
}

.container_father_color{
    width: 40%;
    height: 60%;
    position: relative;
    top: 8.5vh;
}

.svg_categorias{  
    width: 100%;
    position: absolute;
}

.svg_colores{
    
    width: 100%;
    position: absolute;
   
   
}


.container_category{
    width: 100%;
    height: 100%;
    position: absolute;
}

.container_category .ul{
    position: relative;
    width: 100%;
   
    display: flex;
    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container_category .li{
    padding: 1vh;
    margin: 0 1vh 1vh 1vh;
    
    transition: all .5s ease;
    color: white;
    font-size: large;
    
}

.container_category .li.active{
    color: green;
   
}


.container_category .sub_container{
    width: 100%;
    height: 100%;
    
    position: relative;
}

.container_category .block{
    
    position: absolute;
    opacity: 0;
    width: 100%;
    transition: all .5s ease;
}

.container_category .block.active{
    
    opacity: 1;
    width: 100%;
    z-index: 1;
    
}

.input_cat{
    display: flex;
}

.input_cat div{
   width: 30%;
}


.containter_colors{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: right;

}

.containter_colors h2{
    margin: 0 0 4vh 0;
    padding: 1vh ;
    
}


.color_head {
    opacity: 0;
    transition: all .5s ease;
    position: absolute;
    width: 25%;
    display: none;
}

.color_head.active {
    opacity: 1;
    z-index: 20;
}

.color_body{
    opacity: 0;
    transition: all .5s ease;
    position: absolute;
    width: 25%;
    display: none;
}

.color_body.active{
    opacity: 1;
    z-index: 20;
}

.color_backgraund {
    transition: all .5s ease;
    opacity: 0;
    position: absolute;
    width: 25%;
    display: none;

}

.color_backgraund.active {
    opacity: 1;
    z-index: 20;
}


.button_control{
    width: auto;
    height: auto;
    position: absolute;
    display: flex;
    bottom: -14vh;
    right: -58vh;
    z-index: 3;
    
    
}

.button_control p{
    position: relative;
    color: white;
    font-size: x-large;
    z-index: 4;
    top: -15vh;
    
    
}

.btn_form_save{
    width: 60%;
    position: relative;
    left: 8vh;
    cursor: pointer;

}

.text_save{
    position: relative;
    width: auto;
    height: auto;
    left: 13.5vh;
    bottom: .5vh;
    cursor: pointer;
    
}

.btn_form_discard{
    width: 60%;
    position: relative;
    cursor: pointer;

}

.text_discard{
    position: relative;
    width: auto;
    height: auto;
    left: 4.5vh;
    bottom: .5vh;
    cursor: pointer;
}

button{
    all: unset;
}




label{
    font-size: large;
    padding: 5px;
    width: 100%;
    height: 90%;
    display: block;
    cursor: pointer;
}

.content_father_colors{
    height: 100%;
}


.head_hover:hover{
    stroke: white;
}

.body_hover:hover{
    stroke: white;
}

.background_hover:hover{
    stroke: white;
}

.hidden_icon{
    display: none;
}

.no-clickable{
    
}

.no-clickable_body{
    pointer-events: none; 
    cursor: not-allowed;
}
.no-clickable_background{
    pointer-events: none; 
    cursor: not-allowed;
}

.unlock{
    pointer-events: none; 
    cursor: not-allowed;
}



.no-clickable label svg circle {
    pointer-events: none; 
    fill: rgb(76, 76, 76); 
    cursor: not-allowed;
}

.no-clickable label svg .non_click {
    fill: black !important;
    
}


.no-clickable label svg path {
    pointer-events: none; 
    fill: rgb(76, 76, 76); 
    cursor: not-allowed;
}

.color_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1px;
}

.color_grid_size {
    width: 92px;
    height: 92px;
    border: 1px solid black;
}

.color_grid_size input {
    width: 100%;
    height: 100%;
}

.white {
    background-color: white;
}

.alien {
    background-color: #577556;
}

.alien-bg {
    background-color: #1A0729;
}

.armor {
    background-color: #875A41;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.hide {
    display: none;
}



.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-content {
    background-color: #454B78;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    height: 50%;
    margin: 20vh auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    clip-path: polygon(0 0, 91% 0, 100% 18%, 100% 100%, 5% 100%, 0 80%);
}

.modal-content-bg {
    position: relative;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    background-color: #6F7E9F;
    height: 80%;
    width: 80%;
    margin: auto;
}

.modal-content-bg p{
    font-size: x-large;
    color: white;
    padding: 0 5% 0 5%;
    
    
    
}

.modal-content-bg .title_modal{
    font-size: 5vh;
    color: white;
    padding: 0 5% 0 5%;
    margin: 0;
    
    
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    cursor: pointer;
    color: #fff;    
    margin-top: -16px;
}




@media (max-width: 410.98px){
    .svg_background {
        position: absolute;
        width: 200%;
        height: 100%;
        right: 7px;
    }
    .container_form {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 21%;
    }

    .container_profile {
        position: relative;
        display: flex;
        width: 94%;
        height: 72%;
        top: 20vh;
        left: 2vh;
        align-items: center;
        color: white;
    }

    .container_photo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: auto;
    }

    .head_icon {
        
        top: 0;
        
    }

    .body_icon{
        top: auto;
        bottom: 0px;
    }

    .container_category .li {
        padding: 1px;
        margin: 0 1px 1px 1px;
        transition: all .5s ease;
        color: white;
        font-size: 8px;
    }

    .profile_form {
        display: flex;
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -2%;
        flex-direction: column;
    }

    form h1 {
        position: static;
        top: 0px; 
        font-size: 16px;
        margin: 0;
    }

    .container_cat_color_svg {
        
        gap: 0px;
      
    }

    .container_father_cat {
        width: 60%;
 
        top: 0px; 
        right: 8px;
    }

    .color_grid_size {
        width: 20px;
        height: 20px;
        border: 1px solid black;
    }

    .container_father_color {
        width: 40%; 
        height: 60%; 
        position: relative; 
        top: 0;
    }

    .containter_colors h2 {
        margin: 0 4px 0px 0;
        padding: 1px;
        font-size: 10px;
    }

    .containter_colors {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: right;
        top: -3px;
    }

    .content_father_colors {
        height: 100%;
        margin-top: 6px;
        margin-left: 5px;
    }

    

    .button_control {
        width: 100%;
        height: 100%;
        position: relative;
        right: -48px;
        left: -26px;
        z-index: 3;
        gap: 12px;
        top: 135%;
    }

    .button_control p {
        position: static;
        color: white;
        font-size: 8px;
        
    }

    .text_save {
        position: absolute;
        width: 100%;
        left: auto;
        bottom: auto;
        text-align: center;
    }
    .text_discard {
        position: absolute;
        width: 100%;
        text-align: center;
        left: auto;
        bottom: auto;
    }

    button {
        all: unset;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn_form_save {
        width: 100%;
        position: static;
        left: 0; 
        cursor: pointer;
    }
    .btn_form_discard {
        width: 100%;
        position: static;
        cursor: pointer;
    }
    
}

@media (min-width: 401px) and (max-width: 417.98px){
    .svg_background {
        position: absolute;
        width: 200%;
        height: 100%;
        right: 7px;
    }
    .container_form {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 24%;
    }

    .container_profile {
        position: relative;
        display: flex;
        width: 94%;
        height: 72%;
        top: 20vh;
        left: 2vh;
        align-items: center;
        color: white;
    }

    .container_photo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: auto;
    }

    .head_icon {
        
        top: 0;
        
    }

    .body_icon{
        top: auto;
        bottom: 0px;
    }

    .container_category .li {
        padding: 1px;
        margin: 0 1px 1px 1px;
        transition: all .5s ease;
        color: white;
        font-size: 8px;
    }

    .profile_form {
        display: flex;
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -2%;
        flex-direction: column;
    }

    form h1 {
        position: static;
        top: 0px; 
        font-size: 16px;
        margin: 0;
    }

    .container_cat_color_svg {
        
        gap: 0px;
      
    }

    .container_father_cat {
        width: 60%;
 
        top: 0px; 
        right: 8px;
    }

    .color_grid_size {
        width: 20px;
        height: 20px;
        border: 1px solid black;
    }

    .container_father_color {
        width: 40%; 
        height: 60%; 
        position: relative; 
        top: 0;
    }

    .containter_colors h2 {
        margin: 0 4px 0px 0;
        padding: 1px;
        font-size: 10px;
    }

    .containter_colors {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: right;
        top: -3px;
    }

    .content_father_colors {
        height: 100%;
        margin-top: 6px;
        margin-left: 5px;
    }

    

    .button_control {
        width: 100%;
        height: 100%;
        position: relative;
        right: -48px;
        left: -26px;
        z-index: 3;
        gap: 12px;
        top: 135%;
    }

    .button_control p {
        position: static;
        color: white;
        font-size: 8px;
        
    }

    .text_save {
        position: absolute;
        width: 100%;
        left: auto;
        bottom: auto;
        text-align: center;
    }
    .text_discard {
        position: absolute;
        width: 100%;
        text-align: center;
        left: auto;
        bottom: auto;
    }

    button {
        all: unset;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn_form_save {
        width: 100%;
        position: static;
        left: 0; 
        cursor: pointer;
    }
    .btn_form_discard {
        width: 100%;
        position: static;
        cursor: pointer;
    }
}

@media (min-width: 418px) and (max-width: 460.98px){
    .svg_background {
        position: absolute;
        width: 200%;
        height: 100%;
        right: 7px;
    }
    .container_form {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 24%;
    }

    .container_profile {
        position: relative;
        display: flex;
        width: 94%;
        height: 72%;
        top: 20vh;
        left: 2vh;
        align-items: center;
        color: white;
    }

    .container_photo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: auto;
    }

    .head_icon {
        
        top: 0;
        
    }

    .body_icon{
        top: auto;
        bottom: 0px;
    }

    .container_category .li {
        padding: 1px;
        margin: 0 1px 1px 1px;
        transition: all .5s ease;
        color: white;
        font-size: 8px;
    }

    .profile_form {
        display: flex;
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -2%;
        flex-direction: column;
    }

    form h1 {
        position: static;
        top: 0px; 
        font-size: 16px;
        margin: 0;
    }

    .container_cat_color_svg {
        
        gap: 0px;
      
    }

    .container_father_cat {
        width: 60%;
 
        top: 0px; 
        right: 8px;
    }

    .color_grid_size {
        width: 20px;
        height: 20px;
        border: 1px solid black;
    }

    .container_father_color {
        width: 40%; 
        height: 60%; 
        position: relative; 
        top: 0;
    }

    .containter_colors h2 {
        margin: 0 4px 0px 0;
        padding: 1px;
        font-size: 10px;
    }

    .containter_colors {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: right;
        top: -3px;
    }

    .content_father_colors {
        height: 100%;
        margin-top: 6px;
        margin-left: 5px;
    }

    

    .button_control {
        width: 100%;
        height: 100%;
        position: relative;
        right: -48px;
        left: -26px;
        z-index: 3;
        gap: 12px;
        top: 135%;
    }

    .button_control p {
        position: static;
        color: white;
        font-size: 13px;
        
    }

    .text_save {
        position: absolute;
        width: 100%;
        left: auto;
        bottom: auto;
        text-align: center;
    }
    .text_discard {
        position: absolute;
        width: 100%;
        text-align: center;
        left: auto;
        bottom: auto;
    }

    button {
        all: unset;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn_form_save {
        width: 100%;
        position: static;
        left: 0; 
        cursor: pointer;
    }
    .btn_form_discard {
        width: 100%;
        position: static;
        cursor: pointer;
    }
}

@media (min-width: 461px) and (max-width: 517.98px){
    .svg_background {
        position: absolute;
        width: 200%;
        height: 100%;
        right: 7px;
    }
    .container_form {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 24%;
    }

    .container_profile {
        position: relative;
        display: flex;
        width: 94%;
        height: 72%;
        top: 20vh;
        left: 2vh;
        align-items: center;
        color: white;
    }

    .container_photo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: auto;
    }

    .head_icon {
        
        top: 0;
        
    }

    .body_icon{
        top: auto;
        bottom: 0px;
    }

    .container_category .li {
        padding: 1px;
        margin: 0 1px 1px 1px;
        transition: all .5s ease;
        color: white;
        font-size: 8px;
    }

    .profile_form {
        display: flex;
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -2%;
        flex-direction: column;
    }

    form h1 {
        position: static;
        top: 0px; 
        font-size: 16px;
        margin: 0;
    }

    .container_cat_color_svg {
        
        gap: 0px;
      
    }

    .container_father_cat {
        width: 60%;
 
        top: 0px; 
        right: 8px;
    }

    .color_grid_size {
        width: 20px;
        height: 20px;
        border: 1px solid black;
    }

    .container_father_color {
        width: 40%; 
        height: 60%; 
        position: relative; 
        top: 0;
    }

    .containter_colors h2 {
        margin: 0 4px 0px 0;
        padding: 1px;
        font-size: 10px;
    }

    .containter_colors {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: right;
        top: -3px;
    }

    .content_father_colors {
        height: 100%;
        margin-top: 6px;
        margin-left: 5px;
    }

    

    .button_control {
        width: 100%;
        height: 100%;
        position: relative;
        right: -48px;
        left: -26px;
        z-index: 3;
        gap: 12px;
        top: 135%;
    }

    .button_control p {
        position: static;
        color: white;
        font-size: 13px;
        
    }

    .text_save {
        position: absolute;
        width: 100%;
        left: auto;
        bottom: auto;
        text-align: center;
    }
    .text_discard {
        position: absolute;
        width: 100%;
        text-align: center;
        left: auto;
        bottom: auto;
    }

    button {
        all: unset;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn_form_save {
        width: 100%;
        position: static;
        left: 0; 
        cursor: pointer;
    }
    .btn_form_discard {
        width: 100%;
        position: static;
        cursor: pointer;
    }
}


@media (min-width: 518px) and (max-width: 575.98px) {
    .svg_background {
        position: absolute;
        width: 200%;
        height: 100%;
        right: 7px;
    }
    .container_form {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 24%;
    }

    .container_profile {
        position: relative;
        display: flex;
        width: 94%;
        height: 72%;
        top: 20vh;
        left: 2vh;
        align-items: center;
        color: white;
    }

    .container_photo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: auto;
    }

    .head_icon {
        
        top: 0;
        
    }

    .body_icon{
        top: auto;
        bottom: 0px;
    }

    .container_category .li {
        padding: 1px;
        margin: 0 1px 1px 1px;
        transition: all .5s ease;
        color: white;
        font-size: 11px;
    }

    .profile_form {
        display: flex;
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -8%;
        flex-direction: column;
    }

    form h1 {
        position: static;
        top: 0px; 
        font-size: 16px;
        margin: 0;
    }

    .container_cat_color_svg {
        
        gap: 0px;
      
    }

    .container_father_cat {
        width: 60%;
 
        top: 0px; 
        right: 8px;
    }

    .color_grid_size {
        width: 30px;
        height: 30px;
        border: 1px solid black;
    }

    .container_father_color {
        width: 40%; 
        height: 60%; 
        position: relative; 
        top: 0;
    }

    .containter_colors h2 {
        margin: 0 4px 0px 0;
        padding: 1px;
        font-size: 10px;
    }

    .containter_colors {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: right;
        top: -3px;
    }

    .content_father_colors {
        height: 100%;
        margin-top: 15px;
        margin-left: 5px;
    }

    

    .button_control {
        width: 100%;
        height: 100%;
        position: relative;
        right: -48px;
        left: -26px;
        z-index: 3;
        gap: 12px;
        top: 135%;
    }

    .button_control p {
        position: static;
        color: white;
        font-size: 13px;
        
    }

    .text_save {
        position: absolute;
        width: 100%;
        left: auto;
        bottom: auto;
        text-align: center;
    }
    .text_discard {
        position: absolute;
        width: 100%;
        text-align: center;
        left: auto;
        bottom: auto;
    }

    button {
        all: unset;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn_form_save {
        width: 100%;
        position: static;
        left: 0; 
        cursor: pointer;
    }
    .btn_form_discard {
        width: 100%;
        position: static;
        cursor: pointer;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .svg_background {
        position: absolute;
        width: 200%;
        height: 100%;
        right: 7px;
    }
    .container_form {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 24%;
    }

    .container_profile {
        position: relative;
        display: flex;
        width: 94%;
        height: 72%;
        top: 20vh;
        left: 2vh;
        align-items: center;
        color: white;
    }

    .container_photo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: auto;
    }

    .head_icon {
        
        top: 0;
        
    }

    .body_icon{
        top: auto;
        bottom: 0px;
    }

    .container_category .li {
        padding: 1px;
        margin: 0 1px 1px 1px;
        transition: all .5s ease;
        color: white;
        font-size: 16px;
    }

    .profile_form {
        display: flex;
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -18%;
        flex-direction: column;
    }

    form h1 {
        position: static;
        top: 0px; 
        font-size: 16px;
        margin: 0;
    }

    .container_cat_color_svg {
        
        gap: 0px;
      
    }

    .container_father_cat {
        width: 60%;
 
        top: 0px; 
        right: 8px;
    }

    .color_grid_size {
        width: 40px;
        height: 40px;
        border: 1px solid black;
    }

    .container_father_color {
        width: 40%; 
        height: 60%; 
        position: relative; 
        top: 0;
    }

    .containter_colors h2 {
        margin: 0 4px 0px 0;
        padding: 1px;
        font-size: 18px;
    }

    .containter_colors {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: right;
        top: -3px;
    }

    .content_father_colors {
        height: 100%;
        margin-top: 16px;
        margin-left: 15px;
    }

    

    .button_control {
        width: 70%;
        height: 100%;
        position: relative;
        right: -48px;
        left: 80px;
        z-index: 3;
        gap: 12px;
        top: 159%;
    }

    .button_control p {
        position: static;
        color: white;
        font-size: 13px;
        
    }

    .text_save {
        position: absolute;
        width: 100%;
        left: auto;
        bottom: auto;
        text-align: center;
    }
    .text_discard {
        position: absolute;
        width: 100%;
        text-align: center;
        left: auto;
        bottom: auto;
    }

    button {
        all: unset;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn_form_save {
        width: 100%;
        position: static;
        left: 0; 
        cursor: pointer;
    }
    .btn_form_discard {
        width: 100%;
        position: static;
        cursor: pointer;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .svg_background {
        position: absolute;
        width: 200%;
        height: 100%;
        right: 7px;
    }
    .container_form {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 24%;
    }

    .container_profile {
        position: relative;
        display: flex;
        width: 94%;
        height: 72%;
        top: 20vh;
        left: 2vh;
        align-items: center;
        color: white;
    }

    .container_photo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: auto;
    }

    .head_icon {
        
        top: 0;
        
    }

    .body_icon{
        top: auto;
        bottom: 0px;
    }

    .container_category .li {
        padding: 1px;
        margin: 0 3px 1px 7px;
        transition: all .5s ease;
        color: white;
        font-size: 16px;
    }

    .profile_form {
        display: flex;
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -18%;
        flex-direction: column;
    }

    form h1 {
        position: static;
        top: 0px; 
        font-size: 16px;
        margin: 0;
    }

    .container_cat_color_svg {
        
        gap: 0px;
      
    }

    .container_father_cat {
        width: 60%;
 
        top: 0px; 
        right: 8px;
    }

    .color_grid_size {
        width: 40px;
        height: 40px;
        border: 1px solid black;
    }

    .container_father_color {
        width: 40%; 
        height: 60%; 
        position: relative; 
        top: 0;
    }

    .containter_colors h2 {
        margin: 0 4px 0px 0;
        padding: 1px;
        font-size: 18px;
    }

    .containter_colors {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: right;
        top: -3px;
    }

    .content_father_colors {
        height: 100%;
        margin-top: 16px;
        margin-left: 15px;
    }

    

    .button_control {
        width: 70%;
        height: 100%;
        position: relative;
        right: -48px;
        left: 80px;
        z-index: 3;
        gap: 12px;
        top: 200%;
    }

    .button_control p {
        position: static;
        color: white;
        font-size: 18px;
        
    }

    .text_save {
        position: absolute;
        width: 100%;
        left: auto;
        bottom: auto;
        text-align: center;
    }
    .text_discard {
        position: absolute;
        width: 100%;
        text-align: center;
        left: auto;
        bottom: auto;
    }

    button {
        all: unset;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn_form_save {
        width: 100%;
        position: static;
        left: 0; 
        cursor: pointer;
    }
    .btn_form_discard {
        width: 100%;
        position: static;
        cursor: pointer;
    }
    .input_cat {
        display: flex;
        margin-top: 7px;
    }
}

@media only screen and  (992px <= width <= 1199.98px) {
    .svg_background {
        position: absolute;
        width: 200%;
        height: 100%;
        right: 7px;
    }
    .container_form {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 24%;
    }

    .container_profile {
        position: relative;
        display: flex;
        width: 94%;
        height: 72%;
        top: 20vh;
        left: 2vh;
        align-items: center;
        color: white;
    }

    .container_photo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: auto;
    }

    .head_icon {
        
        top: 0;
        
    }

    .body_icon{
        top: auto;
        bottom: 0px;
    }

    .container_category .li {
        padding: 1px;
        margin: 0 3px 1px 7px;
        transition: all .5s ease;
        color: white;
        font-size: 22px;
    }

    .profile_form {
        display: flex;
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -29%;
        flex-direction: column;
    }

    form h1 {
        position: static;
        top: 0px; 
        font-size: 30px;
        margin: 0;
    }

    .container_cat_color_svg {
        
        gap: 0px;
      
    }

    .container_father_cat {
        width: 60%;
 
        top: 0px; 
        right: 8px;
    }

    .color_grid_size {
        width: 60px;
        height: 60px;
        border: 1px solid black;
    }

    .container_father_color {
        width: 40%; 
        height: 60%; 
        position: relative; 
        top: 0;
    }

    .containter_colors h2 {
        margin: 0 4px 0px 0;
        padding: 1px;
        font-size: 22px;
    }

    .containter_colors {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: right;
        top: -3px;
    }

    .content_father_colors {
        height: 100%;
        margin-top: 24px;
        margin-left: 15px;
    }

    

    .button_control {
        width: 50%;
        height: 100%;
        position: relative;
        right: -48px;
        left: 170px;
        z-index: 3;
        gap: 12px;
        top: 238%;
    }

    .button_control p {
        position: static;
        color: white;
        font-size: 16px;
        
    }

    .text_save {
        position: absolute;
        width: 100%;
        left: auto;
        bottom: auto;
        text-align: center;
    }
    .text_discard {
        position: absolute;
        width: 100%;
        text-align: center;
        left: auto;
        bottom: auto;
    }

    button {
        all: unset;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn_form_save {
        width: 100%;
        position: static;
        left: 0; 
        cursor: pointer;
    }
    .btn_form_discard {
        width: 100%;
        position: static;
        cursor: pointer;
    }
    .input_cat {
        display: flex;
        margin-top: 7px;
    }  
}

@media only screen and (1200px <= width <= 1439.98px) {
    .svg_background {
        position: absolute;
        width: 200%;
        height: 100%;
        right: 7px;
    }
    .container_form {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 24%;
    }

    .container_profile {
        position: relative;
        display: flex;
        width: 94%;
        height: 72%;
        top: 20vh;
        left: 2vh;
        align-items: center;
        color: white;
    }

    .container_photo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: auto;
    }

    .head_icon {
        
        top: 0;
        
    }

    .body_icon{
        top: auto;
        bottom: 0px;
    }

    .container_category .li {
        padding: 1px;
        margin: 6px 32px 1px 7px;
        transition: all .5s ease;
        color: white;
        font-size: 22px;
    }

    .profile_form {
        display: flex;
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -29%;
        flex-direction: column;
    }

    form h1 {
        position: static;
        top: 0px; 
        font-size: 30px;
        margin: 0;
    }

    .container_cat_color_svg {
        
        gap: 0px;
      
    }

    .container_father_cat {
        width: 60%;
 
        top: 0px; 
        right: 8px;
    }

    .color_grid_size {
        width: 80px;
        height: 80px;
        border: 1px solid black;
    }

    .container_father_color {
        width: 40%; 
        height: 60%; 
        position: relative; 
        top: 0;
    }

    .containter_colors h2 {
        margin: 7px 4px 0px 0;
        padding: 1px;
        font-size: 22px;
    }

    .containter_colors {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: right;
        top: -3px;
    }

    .content_father_colors {
        height: 100%;
        margin-top: 36px;
        margin-left: 15px;
    }

    

    .button_control {
        width: 50%;
        height: 100%;
        position: relative;
        right: -48px;
        left: 170px;
        z-index: 3;
        gap: 12px;
        top: 238%;
    }

    .button_control p {
        position: static;
        color: white;
        font-size: 16px;
        
    }

    .text_save {
        position: absolute;
        width: 100%;
        left: auto;
        bottom: auto;
        text-align: center;
    }
    .text_discard {
        position: absolute;
        width: 100%;
        text-align: center;
        left: auto;
        bottom: auto;
    }

    button {
        all: unset;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn_form_save {
        width: 100%;
        position: static;
        left: 0; 
        cursor: pointer;
    }
    .btn_form_discard {
        width: 100%;
        position: static;
        cursor: pointer;
    }
    .input_cat {
        display: flex;
        margin-top: 7px;
    }  
}

@media only screen and (1440px <= width <= 1600.98px) {
    .svg_background {
        position: absolute;
        width: 200%;
        height: 100%;
        right: 7px;
    }
    .container_form {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 24%;
    }

    .container_profile {
        position: relative;
        display: flex;
        width: 94%;
        height: 72%;
        top: 20vh;
        left: 2vh;
        align-items: center;
        color: white;
    }

    .container_photo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: auto;
    }

    .head_icon {
        
        top: 0;
        
    }

    .body_icon{
        top: auto;
        bottom: 0px;
    }

    .container_category .li {
        padding: 1px;
        margin: 6px 32px 1px 7px;
        transition: all .5s ease;
        color: white;
        font-size: 22px;
    }

    .profile_form {
        display: flex;
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -29%;
        flex-direction: column;
    }

    form h1 {
        position: static;
        top: 0px; 
        font-size: 30px;
        margin: 0;
    }

    .container_cat_color_svg {
        
        gap: 0px;
      
    }

    .container_father_cat {
        width: 60%;
 
        top: 0px; 
        right: 8px;
    }

    .color_grid_size {
        width: 80px;
        height: 80px;
        border: 1px solid black;
    }

    .container_father_color {
        width: 40%; 
        height: 60%; 
        position: relative; 
        top: 0;
    }

    .containter_colors h2 {
        margin: 7px 4px 0px 0;
        padding: 1px;
        font-size: 22px;
    }

    .containter_colors {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: right;
        top: -3px;
    }

    .content_father_colors {
        height: 100%;
        margin-top: 36px;
        margin-left: 15px;
    }

    

    .button_control {
        width: 50%;
        height: 100%;
        position: relative;
        right: -48px;
        left: 170px;
        z-index: 3;
        gap: 12px;
        top: 238%;
    }

    .button_control p {
        position: static;
        color: white;
        font-size: 16px;
        
    }

    .text_save {
        position: absolute;
        width: 100%;
        left: auto;
        bottom: auto;
        text-align: center;
    }
    .text_discard {
        position: absolute;
        width: 100%;
        text-align: center;
        left: auto;
        bottom: auto;
    }

    button {
        all: unset;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn_form_save {
        width: 100%;
        position: static;
        left: 0; 
        cursor: pointer;
    }
    .btn_form_discard {
        width: 100%;
        position: static;
        cursor: pointer;
    }
    .input_cat {
        display: flex;
        margin-top: 7px;
    }  
}

@media only screen and (2540px <= width <= 4560px) {
    .profile_form {
        display: flex;
        width: 90%;
        height: 90%;
        justify-content: center;
        align-items: center;
        margin-top: 7vh;
        flex-direction: column;
    }
    .button_control {
        width: 50%;
        height: 100%;
        position: relative;
        right: -48px;
        left: 92%;
        z-index: 3;
        gap: 38px;
        top: 9%;
    }

    form h1 {
        position: absolute;
        top: 11vh;
        font-size: 78px;
    }
    .containter_colors h2 {
        margin: 0 32px 51px 0;
        padding: 0;
        font-size: 43px;
    }

    .button_control p {
        position: static;
        color: white;
        font-size: 40px;
        
    }

    .text_save {
        position: absolute;
        width: 100%;
        left: auto;
        bottom: auto;
        text-align: center;
    }
    .text_discard {
        position: absolute;
        width: 100%;
        text-align: center;
        left: auto;
        bottom: auto;
    }

    button {
        all: unset;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn_form_save {
        width: 100%;
        position: static;
        left: 0; 
        cursor: pointer;
    }
    .btn_form_discard {
        width: 100%;
        position: static;
        cursor: pointer;
    }

    .color_grid_size {
        width: 150px;
        height: 150px;
        border: 1px solid black;
    }
    .container_category .li {
        padding: 1vh;
        margin: 0 1vh 1vh 1vh;
        transition: all .5s ease;
        color: white;
        font-size: 34px;
    }
    .content_father_colors {
        height: 100%;
        margin-left: 76px;
    }    
}