:root {
    --accordion-bg: #222757;
    --accordion-light-bg: #4D5C7D;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgba(0, 31, 63, 1);
    font-family: monospace;
    overflow: hidden;
}

#navbar-area {
    z-index: 2;
}

main {
    display: flex;
    height: 100%; 
    width: 100%;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}

.box_1 {
    display: flex;
    position: relative;
    align-items: center;
    height: 100vh;
    width: 19vw;
    margin-right: -7vw;
}

.central_galaxy {
    width: 100vw;
    height: 100vh;
}

.box_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    height: 95vh;
    width: 14vw;
    margin-top: 5vh;
}

.about_box {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    z-index: 1;
}

.about_planet {
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg_about_planet {
    width: 30vw;
    height: 30vh;
}

.svg_about_pointer {
    height: 5vh;
    width: 5vw;
    animation:aboutUpAndDown 2s ease-in-out infinite;
}

@keyframes aboutUpAndDown {
    0%{
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

.about_pointer {
    display: flex;
    justify-content: center;
}

.resources_box {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.resources_pointer {
    display: flex;
    justify-content: center;
    z-index: 0;
}

.svg_resources_pointer {
    height: 5vh;
    width: 5vw;      
    animation: resourcesUpAndDown 2s ease-in-out infinite;  
}

@keyframes resourcesUpAndDown {
    0%{
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.svg_resources_planet {
    height: 25vh;
    width: 25vw;
}

.resources_planet {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_3 {
    position: relative;
    height: 100vh;
    width: 70vw;
}

.svg_yellow_position {
    position: absolute;
    height: 100%;
    width: 100%;
}

.svg_yellow_planet {
    width: 100%;
    height: 100%;
}


.levels_content {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 25vh;
    width: 50%;
    right: 0;
    font-size: 24px;
    text-align: justify;
}

.text_levels {
    font-size: clamp(1.5rem, 2.5vw, 9.5rem);
    margin: 0;
    text-align: center;
}

.paragraph_levels {
    font-size: clamp(1rem, 1.5vw, 7rem);
    margin: 10px 30px;
}

.accordion {
    margin: 0 auto;
}

.accordion a {
    color: var(--accordion-light-bg);
}

.svg_accordion {
    color: var(--accordion-bg);
    width: 45vw;
    height: auto;
}

.svg_paragraph {
    color: white;
    font-size: 20px;
    opacity: 100%;
    font-weight: 300;
    text-align: start;
}

@media only screen and (max-width: 575.98px) {
    .svg_yellow_planet {
        width: 150%;
        height: 100%;
        margin-left: -20%;
    }

    .levels_content {
        top: 30vh;
    }

    .paragraph_levels {
        margin: 0;
    }

    .box_1 {
        display: none;
    }
    
    .box_2 {
        height: 90vh;
        margin-top: 10vh;
    }

    .about_box {
        gap: 2vh;
    }
    
    .about_planet {
        margin-left: 25px;
    }
    
    .svg_about_planet {
        width: 50vw;
        height: auto;
    }
    
    .resources_pointer {
        margin-bottom: -130px;
    }
    
    .svg_resources_planet {
        height: 40vh;
        width: 60vw;
    }
    
    .box_3 {
        height: 100%;
        width: 100%;
    }
    
    .levels_content {
        display: flex;
        position: fixed;
        flex-direction: column;
        top: 30vh;
        width: 50%;
        right: 10%;
        font-size: 24px;
        text-align: justify;
    }
    
    .accordion {
        margin: 20px 0 0 -37px;
    }
    
    .svg_accordion {
        color: var(--accordion-bg);
        min-width: 65vw;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .levels_content {
        top: 30vh;
    }

    .svg_about_planet {
        width: auto;
        height: 30vh;
    }

    .svg_resources_planet {
        height: 25vh;
        width: auto;
    }
}

