html{
    overflow: hidden;
    background-color: #001F3F;
    font-family: monospace;
}

main{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}

.podium_position {
    display: flex; 
    width: 100vw; 
    height: 100vh; 
    align-items: center; 
    justify-content: flex-end; 
    flex-direction: column;
}

.svg_backgraund_podium{
    position: absolute;
    width: 100%;
    height: 90%;
    bottom: 0;
    left: 0;
}

.svg_positions_podium{
    position: absolute;
    width: 30%;
    min-width: 350px;
    bottom: 0;
}

.text_podium{
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 17vh;
    align-items: center;
    width: 30%;
}

h1{
    color: wheat;
    font-size: clamp(3rem, 4vw, 12rem);
}

.shadow {
    text-shadow: 2px 2px 1px black;
    top: 150px;
    position: absolute;
}

/* .text_podium h2{
    font-weight: 100;
    margin-bottom: 20px;
    
} */

.text_podium p{
    font-weight: 100;
    margin-top: 1vh;
    font-size: x-large;
    
}
.control_text_user{
    display: flex;
    gap: 115px;
}

.text_user_podium{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    order: 0;
    width: 100%;
    position: relative;
    top: 300px;
    text-align: center;
    
}

.text_user_podium p{
    color: black;
    
}



.text_user_podium_middle {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    order: 1;
    width: 100%;
    position: relative;
    top: 20px;
    text-align: center;
}

.text_user_podium_middle p {
    
    color: black;
}

.text_user_podium_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    float: right;
    order: 2;
    width: 100%;
    position: relative;
    top: 170px;
    right: 4px;
    text-align: center;
    
}

.text_user_podium_right p{
    color: black;
}

@media (min-width: 992px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }
}


@media (max-width: 575.98px) {
    .svg_positions_podium {
        bottom: 100px;
    }        

}

@media only screen and (576px <= width <= 1250px) {
    .svg_positions_podium {
        bottom: 5vh;
    }
}





