html{
    background-image: url('/static/main/img/backgraund_teacher.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

main{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.father_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 77.5%;
    background-color: red;
    margin-top: 20vh;
    z-index: 1;
    
}

.svg_container{
    position: absolute;
    background-color: orange;
    width: 100%;
    height: 100%;
    margin: 0;
}

.svg_control{
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.first_son{
    position: relative;
    width: 50%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.filters_container{
    
    width: 100%;
    height: 17.1%;
}

.students_container{
    display: flex;
   
    justify-content: center;
    align-items: center;
    width: 92.5%;
    height: 82.9%;
    margin: 0 0.6vh 2.7vh 0vh;

    
}

.student_control_table{
    width: 100%;
    height: 100%;
    padding: 3vh 2vh 5vh 2vh;

 
    overflow: auto;
    
}

table{

    color: white;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    
}

td {
    border-bottom: 1px solid white; 
    padding: 0;
    
}

.second_son{
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    z-index: 2;
    justify-content: left;
    align-items: flex-end;
    
    
}


.specific_student{
    width: 93.2%;
    height: 83.8%;
    margin: 0 0 2.7vh 0.6vh;
    

}

.info_student_view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    
}

.svg_icon_container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.head_icon{
    position: relative;
    width: 50%;
    z-index: 3;
    top: 2.5vh;
}

.body_icon{
    position: relative;
    width: 80%;
    z-index: 2;
    bottom: .3vh;
}


.background_icon{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}

.title_student{
 
    font-size: x-large;
    
}

.container_text{
    background-color: #013657;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin-top: 10px;
    
}

.container_text p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    margin: 1vh 1vh 1vh 1vh;
    padding: .3vh;
    background-color: #0081D0;
    width: 100%;
    height: auto;

}

.svg_buttons{
    width: auto;
    height: auto;
}
.control_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1.5vh;
}

.control_buttons a{
    
    width: 100%;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-content {
    background-color: #454B78;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    height: 50%;
    margin: 20vh auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    clip-path: polygon(0 0, 91% 0, 100% 18%, 100% 100%, 5% 100%, 0 80%);
}

.modal-content-bg {
    position: relative;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    background-color: #6F7E9F;
    height: 80%;
    width: 80%;
    margin: auto;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    cursor: pointer;
    color: #fff;    
    margin-top: -16px;
}


.alert_msg{
    width: 20vw;
    height: 10vh;
    background-color: rgb(255, 190, 190);
    transition: opacity 1s;
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.alert_msg p{ 
   
   
    color: rgb(0, 0, 0);
    font-size: large;
    margin: 0;
    text-align: center;
   
}


.title_modal{
    font-size: xx-large;
    text-align: center;
}

.container_bottons_modal{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.btn_yes{
    background-color: green;
}


.btn_no{
    background-color: red;
}