body {
    padding: 0;
    background: url("/static/levels/img/gamebg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: monospace;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

h3 {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(23px, 1.5vw, 50px);
    color: black;
}

main {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 2.2fr 1fr 1fr 1fr 1fr;
    height: 85%;
    width: 100%;
    overflow-x: auto;
    align-items: center;
}

.earth {
    display: flex;
    justify-content: end;
}

.svgSize {
    width: 15vw;
    height: 15vw;
    display: flex;
    margin: 0 auto;
}

.moon {
    display: flex;
    margin: 0 auto;
    width: 13vw;
}

.asteroid {
    display: flex;
    margin: 0 auto;
    width: 13vw;
}

.galaxy {
    display: flex;
    margin: 0 auto;
    width: 12vw;
}

.game_gid>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

@media only screen and (max-width: 900.98px) {
    body {
        background: none;
    }
    
    main {
        grid-template-columns: 1fr 1fr 1fr;
        height: 90%;
        bottom: 0%;
        align-items: normal;
    }

    .align-900 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .earthHref {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .svgSize {
        width: 30vw;
        height: 30vw;
    }

    .moon {
        width: 24vw;
    }

    .asteroid {
        width: 30vw;
    }

    .galaxy {
        width: 28vw ;
    }

    h3 {
        color: white;
    }
}


@media only screen and (901px <= width <= 1109.98px) {
    body {
        background: none;
    }
    
    main {
        grid-template-columns: 1fr 1fr 1fr;
        height: 80%;
        bottom: 0%;
    }

    .earthHref {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .svgSize {
        width: 15vw;
        height: 15vw;
    }

    .moon {
        width: 13vw;
    }

    .asteroid {
        width: 13vw;
    }

    .galaxy {
        width: 12vw;
    }

    h3 {
        color: white;
    }

}

@media only screen and (1110px <= width <= 1600px) {
    body {
        background: none;
    }
    
    main {
        grid-template-columns: 1fr 1fr 1fr;
        height: 70%;
        bottom: 0;
    }

    .earthHref {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    h3 {
        color: white;
    }
}