body {
    padding: 0;
    background:  url("/static/levels/img/gamebg.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: monospace;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

main {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 2.2fr 1fr 1fr 1fr 1fr;
    height: 85%;
    width: 100%;
    overflow-x: auto;
    align-items: center;
}

.earth {
    display: flex;
    justify-content: end;
    width: 20vw;
    height: 30vh;
}

.star {
    width: 20vw;
    height: 30vh;
}





