html {
    font-size: 24px;
}

@font-face {
    font-family: 'digital-dream.narrow';
    src: url(/static/fonts/digital-dream.narrow.ttf);
}

body {
    font-family: monospace, Courier;
    margin: 0;
    background:#000 url(http://1.bp.blogspot.com/-q7NYia_DjQI/U4t7_J4gwwI/AAAAAAAAMKo/nru4YxfjK6I/s1600/estrellas.png) repeat top center;
}

.estrellas {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}

.estrellas{
    background:transparent url(http://3.bp.blogspot.com/-FwB8aSiMBmI/U4t9MkimRrI/AAAAAAAAMK0/FAlqX8ZFyu8/s1600/twinkling.png) repeat top center;
    z-index:-2;
    -moz-animation:move-twink-back 100s linear infinite;
    -ms-animation:move-twink-back 100s linear infinite;
    -o-animation:move-twink-back 100s linear infinite;
    -webkit-animation:move-twink-back 100s linear infinite;
    animation:move-twink-back 100s linear infinite;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

section {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

#box1 {
    display: flex;
    width: 920px;
    height: 520px;
    position: relative;
    background-color: rgba(69, 75, 120, 1);
    -webkit-clip-path: polygon(0 0, 92% 0, 100% 18%, 100% 100%, 25% 100%, 0 74%);
    clip-path: polygon(0 0, 92% 0, 100% 18%, 100% 100%, 8% 100%, 0 80%);
    text-align: center;
    margin: 0 auto;
}
  
#content {
    display: flex;
    background-color: rgba(111, 126, 159, 1);
    width: 90%;
    height: 80%;
    margin: 5% auto;
    flex-direction: column;
    justify-content: space-between;
}

.Tuerca {
    width: 15px;
    height: 15px;
    background-color: rgba(217, 210, 218, 1);
    border: 1px solid rgba(156, 156, 156, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: absolute;
}

.linea {
    height: 1px;
    width: 90%;
    background-color: rgba(156, 156, 156, 1);
    margin: auto;
    rotate: -45deg;
    transform: translateX(-.5px);
}

.pos1 {
    top: 1%;
    left: .5%;
}

.pos2 {
    top: 1%;
    left: 89.6%;
}

.pos3 {
    top: 18%;
    left: 97%;
}

.pos4 {
    top: 77%;
    left: .5%;
}

.pos5 {
    top: 95%;
    left: 8%;
}

.pos6 {
    top: 94%;
    left: 97%;
}


h1 {
    font-size: 2rem;
    margin: 50px 0 0 0;
    font-weight: normal;
    text-align: center;
    color: white;
}

.subtitle {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 60px 0;
    color: white;
}

.question {
    display: block;
}

.question > svg {
    width: 70vw;
    max-width: 1200px;
    min-width: 300px;
    height: auto;
}

.question-title {
    font-weight: bolder;
    font-size: 1.6rem;
    margin: 10px 0 0 0;
    color: white;
}

.question-content {
    color: white;
    margin: 10px 30px 10px 30px;
    text-align: justify;
}

p[class~="center"] { 
    text-align: start;
    font-size: 1.3rem;
}

.go-back {
    position: absolute;
    top: 6vh;
    left: 5vw;
    width: 60px;
}

.go-back a {
    text-decoration: none;
    color: white;
}

.go-back a > svg {
    width: auto;
    height: auto;
    animation: backbtn 3s ease-in-out infinite;
}

@keyframes backbtn {
    0% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(-5px);
    }
}

.go-next {
    position: absolute;
    bottom: 10px;
    right: 5vw;
    width: 60px;
}

.go-next a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.go-next a > svg {
    width: auto;
    height: auto;
    animation: nextbtn 3s ease-in-out infinite;
}


@keyframes nextbtn {
    0% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}

p[class="redir-btn"] {
    font-size: .7rem;
    text-align: center;
    font-weight: 600;
}

.box_timer{
    width: 400px;
    height: 192px;
    background-color: rgba(69, 75, 120, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 5px solid rgba(111, 126, 159, 1);
    position: absolute;
    top: 10px;
    right: 10px;
}

.inner_timer {
    width: 90%;
    height: 85%;
    background-color: rgba(0, 100, 0, 1);
    border-radius: 10px;
    border: 4px solid black;
}

.clock_icon {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid greenyellow;
  top: 40px;
  left: 25px;
}

.clock_lines {
   position: absolute;
   width: 18px;
   height: 18px;
   border-left: 2px solid greenyellow;
   border-bottom: 2px solid greenyellow;
   top: 2px;
   right: 2px;
}

.text_timer {
    color: greenyellow;
    font-size: 90px;
    font-family: 'digital-dream.narrow', monospace;
    font-weight: 300;
    text-align: center;
    margin: 15px 0 15px 30px;
}

.paragraph_timer {
    color: greenyellow;
    border-top: 1px solid greenyellow;
    border-bottom: 1px solid greenyellow;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    padding: 2px 0 4px 0;
}

.paragraph_timer span {
    font-family: 'digital-dream.narrow', monospace;
    margin: 0 0 0 30px;
}

.button {
    width: 11px;
    height: 2px;
    background-color: rgba(111, 126, 159, 1);
    border-top: 2px solid rgba(69, 75, 120, 1);
    border-left: 2px solid rgba(69, 75, 120, 1);
    border-right: 2px solid rgba(69, 75, 120, 1);
    border-bottom: .5px solid rgba(69, 75, 120, 1);
}

.bigButton {
    width: 250px;
    height: 3px;
    background-color: rgba(111, 126, 159, 1);
    border-top: 2px solid rgba(69, 75, 120, 1);
    border-left: 2px solid rgba(69, 75, 120, 1);
    border-right: 2px solid rgba(69, 75, 120, 1);
    border-bottom: .5px solid rgba(69, 75, 120, 1);
}

.posT1 {
    position: absolute;
    top: -10px;
    right: 20px;
}

.posT2 {
    position: absolute;
    top: -10px;
    left: 20px;
}

.posT3 {
    position: absolute;
    top: -10px;
    left: 40px;
}

.posT4 {
    position: absolute;
    top: -10px;
    right: 40px;
}

.posT5 {
  position: absolute;
  top: -11px;
  right: 18%;
}

form {
    display: block;
    margin: -50px auto 0 auto;
}

fieldset {
    display: flex;
    width: 60vw;
    max-width: 900px;
    min-width: 300px;
    border: 0;
    margin: 0 auto;
    justify-content: space-evenly;
}

fieldset svg {
    width: 80%;
    height: auto;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

.answer_box {
    position: relative;
    width: 250px;
    height: 200px;
    background-color: transparent;
    overflow: hidden;
}

.answer_box:hover {
    cursor: pointer;
}

.answer_box::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 50px;
    margin: -20px -30px 0 0;
    transform: rotate(45deg);
    box-shadow: 0 0 0 250px #2db5c2;
}

.img_box {
    position: absolute;
    width: 230px;
    height: 180px;
    left: 10.5px;
    top: 10.5px;
    z-index: 1;
}

.img_box img {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 82% 0, 100% 22.7%, 100% 100%, 20.2% 100%, 0 74.7%);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-content {
    background-color: #454B78;
    max-width: 80%;
    height: 50%;
    margin: 20vh auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    clip-path: polygon(0 0, 91% 0, 100% 18%, 100% 100%, 5% 100%, 0 80%);
}

.initModal {
    height: 25%;
    margin: 35vh auto;
}

.modal-content-bg {
    position: absolute;
    background-color: #6F7E9F;
    width: 90%;
    margin: auto;
    right: 1vw;
    left: 1vw;
    top: 6vh;
    bottom: 6vh;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    cursor: pointer;
    color: #fff;    
    margin-top: -15px;
}

.Incorrect {
    font-size: clamp(30px, 2vw, 70px);
    box-shadow: 0 1px 8px 2px red;
    color: red;
    height: fit-content;
    padding-bottom: 15px;
}

.Correct {
    font-size: clamp(30px, 2vw, 70px);
    box-shadow: 0 1px 8px 2px greenyellow;
    color: greenyellow;
    height: fit-content;
    padding-bottom: 15px;
}

.audioText {
    font-size: clamp(16px, 2vw, 70px);
    box-shadow: 0 1px 8px 2px greenyellow;
    color: white;
    height: fit-content;
    padding-bottom: 15px;
}

.audioText > h2 {
    margin-bottom: 0;
    margin-top: 30px;
}

.hide {
    display: none;
}

.incorrect-button {
    appearance: button;
    background-color: #ff0000;
    border: solid transparent;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-family: din-round,sans-serif;
    font-size: clamp(13px, 1vw, 50px);
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 25px auto auto auto;
    outline: none;
    overflow: visible;
    text-align: center;
    text-transform: uppercase;  
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 38%;
    height: clamp(35px, 2vw, 200px);
    justify-content: center;
    align-items: center;
}


.incorrect-button:after {
    background-clip: padding-box;
    background-color: #520a0a;
    border: solid transparent;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.incorrect-button:main,
.incorrect-button:focus {
    user-select: auto;
}

.incorrect-button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.incorrect-button:disabled {
    cursor: auto;   
}

.incorrect-button:active {
    border-width: 4px 0 0;
    background: none;
}

.correct-button {
    appearance: button;
    background-color: greenyellow;
    border: solid transparent;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-family: din-round,sans-serif;
    font-size: clamp(13px, 1vw, 50px);
    font-weight: 300;
    line-height: 20px;
    margin: 25px auto auto auto;
    outline: none;
    overflow: visible;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 38%;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.correct-button:after {
    background-clip: padding-box;
    background-color: green;
    border: solid transparent;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.correct-button:main,
.correct-button:focus {
    user-select: auto;
}

.correct-button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.correct-button:disabled {
    cursor: auto;   
}

.correct-button:active {
    border-width: 4px 0 0;
    background: none;
}

.stats-grid {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    justify-content: center;
    width: 100%;
}

.audio-grid {
    display: grid;
    grid-template-columns: 25% 25%;
    justify-content: center;
    width: 100%;
}

.stats-text {
    font-size: .8em;
}

.progress-bar {
    width: 80%;
    margin: 20px auto;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress {
    width: 0;
    height: 100%;
    background-color: #3498db;
  }

#progress {
    appearance: none;
    width: 50%;
    height: 6px;
    background-color: rgba(69, 75, 120, 1);
    border-radius: 4px;
    margin: 30px auto;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgba(69, 75, 120, 1);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 5px 10px rgba(69, 75, 120, 1);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div {
    width: 60px;
    height: 60px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgba(69, 75, 120, 1);
    box-shadow: 0 5px 10px rgba(69, 75, 120, 1);
    cursor: pointer;
    scale: 1.1;
    margin: 0 0 15px 0;
}

@media only screen and (max-width: 577.98px) {
    .box_timer {
        width: 50vw;
        height: fit-content;
        position: fixed;
        top: 4.5vw;
    }
    
    .welcome {
        display: none;
    }

    .subtitle {
        margin: 20vh 0 0 0;
        font-size: 1.3rem;
    }

    .bigButton {
        display: none;
    }

    .button {
        display: none;
    }

    .text_timer {
        margin: 16px auto 15px auto;
        font-size: 13vw;
    }

    .paragraph_timer {
        display: none;
    }

    .clock_icon {
        display: none;
    }


    #box1 {
        width: 95vw ;
    }

    .Tuerca {
        display: none;
    }

    #content {
        justify-content: center;
        width: 85%;
    }

    .question-title {
        font-size: 5vw;
        margin: 0;
    }

    .question-content {
        font-size: 3.5vw;
    }

    form {
        margin: -90px auto 0 auto;
    }

    p[class="redir-btn"] {
        margin: 0;
    }

    .answer_box {
        width: 30vw;
        height: 150px;
    }

    .answer_box::after {
        display: none;
    }

    .img_box {
        width: 95%;
    }

    .img_box img {
        width: 85%;
        height: 75%;
        clip-path: none;
        border: 3px solid #2db5c2;
    }

    .go-back a > svg {
        width: 10vw;
    }

    .go-next a > svg {
        width: 10vw;
        margin: 0 auto;
    }

    .go-next {
        right: 30px;
        bottom: 15px;
        width: 100px;
    }

}

@media only screen and (578px <= width <= 767.98px) {
    .box_timer {
        width: 50vw;
        height: fit-content;
        position: fixed;
        top: 3vw;
    }
    
    .welcome {
        display: none;
    }

    .subtitle {
        margin: 20vh 0 0 0;
        font-size: 1.3rem;
    }

    .bigButton {
        display: none;
    }

    .button {
        display: none;
    }

    .text_timer {
        font-size: 2.5rem;
    }

    .paragraph_timer {
        display: none;
    }

    .clock_icon {
        width: 35px;
        height: 35px;
        left: 25px;
        top: 28px;
    }

    .clock_lines {
        width: 16px;
        height: 16px;
    }


    #box1 {
        width: 95vw ;
    }

    .Tuerca {
        display: none;
    }

    #content {
        justify-content: center;
        width: 85%;
    }

    .question-title {
        font-size: 4vw;
        margin: 0;
    }

    .question-content {
        font-size: 3vw;
    }

    form {
        margin: -90px auto 0 auto;
    }

    p[class="redir-btn"] {
        margin: 0;
    }

    fieldset {
        width: 90vw;
    }

    .answer_box {
        width: 30vw;
        height: 150px;
    }

    .answer_box::after {
        display: none;
    }

    .img_box {
        width: 95%;
    }

    .img_box img {
        width: 85%;
        height: 75%;
        clip-path: none;
        border: 3px solid #2db5c2;
    }

    .go-back a > svg {
        width: 7vw;
    }

    .go-next a > svg {
        width: 7vw;
        margin: 0 auto;
    }

    .go-next {
        right: 5px;
        bottom: 15px;
        width: 100px;
    }
}

@media only screen and (768px <= width <= 991.08px) {
    .box_timer {
        width: 260px;
        height: 150px;
    }

    .bigButton {
        display: none;
    }

    .button {
        display: none;
    }

    .clock_icon {
        width: 34px;
        height: 34px;
        left: 17px;
    }

    .clock_lines {
        width: 15px;
        height: 15px;
    }

    .text_timer {
        font-size: 60px;
    }

    .paragraph_timer {
        font-size: 20px;
    }

    .welcome {
        font-size: 1rem;
        margin: 170px 0 0 0;
    }

    .subtitle {
        margin: 0;
        font-size: 1rem;
    }

    #box1 {
        width: 90vw;
    }

    #content {
        justify-content: center;
    }

    form {
        margin: -80px auto 0 auto;
    }

    fieldset {
        gap: 10px;
    }

    .answer_box {
        width: 200px;
        height: 160px;
    }

    .answer_box::after {
        box-shadow: 0 0 0 198px #2db5c2;
    }

    .img_box {
        width: 92%;
        height: 90%;
        left: 6.5px;
        top: 10.5px;
    }

    .go-next {
        width: 100px;
        right: 1vw;
    }

    .go-back a > svg {
        width: 5vw;
        margin: 0 auto  ;
    }

    .go-next a > svg {
        width: 5vw;
        margin: 0 auto;
    }


    p[class="redir-btn"] {
        margin: 0;
    }

}

@media only screen and (992px <= width <= 1199.98px) {
    .welcome {
        font-size: 1rem;
        margin-top: 80px;
    }

    .subtitle {
        font-size: 1rem;
        margin-bottom: 65px;
    }

    .box_timer {
        width: 300px;
        height: 175px;
        right: 5px;
    }

    .bigButton {
        display: none;
    }

    .button {
        display: none;
    }

    .text_timer {
        font-size: 75px;
        margin-left: 55px;
    }

    p[class="redir-btn"] {
        margin: 0;
    }

    fieldset {
        gap: 10px;
    }

    .answer_box {
        width: 240px;
        height: 190px;
    }

    .answer_box::after {
        box-shadow: 0 0 0 240px #2db5c2;
    }

    .img_box {
        width: 220px;
        height: 170px;
    }
}

@media only screen and (1200px <= width <= 1399.98px) {
    .welcome {
        font-size: 1.6rem;
    }

    .subtitle {
        font-size: 1.6rem;
        margin-bottom: 80px;
    }

    .box_timer {
        width: 350px;
        height: 191px;
    }

    .bigButton {
        width: 225px;
    }

    .posT1 {
        right: 18px;
    }

    .posT4 {
        right: 38px;
    }

    .posT5 {
        right: 17%;
    }
    
    fieldset {
        gap: 10px;
    }
    
    p[class="redir-btn"] {
        margin: 0;
    }

    .text_timer {
        margin-left: 45px;
    }
}

@media only screen and (1400px <= width <= 1660px) {
    .box_timer {
        width: 350px;
        height: 191px;
    }

    .bigButton {
        width: 225px;
    }

    .posT1 {
        right: 18px;
    }

    .posT4 {
        right: 38px;
    }

    .posT5 {
        right: 17%;
    }
}

@media only screen and (min-width: 2500px) {
    .welcome {
        font-size: 2vw;
    }

    .subtitle {
        font-size: 2vw;
    }

    .clock_icon {
        left: 50px;
    }

    .box_timer {
        width: clamp(400px, 20vw, 550px);
        height: clamp(192px, 6vw, 245px);
        top: 1vw;
        right: 1vw;
    }

    .text_timer {
        margin-bottom: 5px;
        font-size: clamp(90px, 5vw, 100px);
    }

    .paragraph_timer {
        font-size: clamp(25px, 1vw, 60px);;
    }
    
    #box1 {
        width: 65vw;
        height: auto;
        aspect-ratio: 16/9;
    }

    #content {
        justify-content: center;
    }

    .question-title {
        font-size: clamp(1.6rem, 1.5vw, 6rem);
        margin-bottom: 2vw;
    }

    .question-content {
        font-size: clamp(1rem, 2vw , 4rem);
        margin: 0 1vw 1vw 1vw;
    }

    .controls div {
        width: 4vw;
        height: 4vw;
    }

    .fa-solid {
        font-size: 1vw;
    }

    fieldset {
        width: 65vw;
        max-width: none;
    }

    .answer_box {
        width: 15vw;
        height: 12vw;
    }

    .answer_box::after {
        top: -2vw;
        right: -2vw;
        width: 6vw;
        height: 4.29vw;
        box-shadow: 0 0 0 14.9vw #2DB5C1;
    }

    .img_box {
        width: 95%;
        height: 95%;
        left: none;
        top: none;
    }

    .go-back a > svg {
        width: 4vw;
    }

    .go-next a > svg {
        width: 4vw;
    }

    p[class="redir-btn"] {
        font-size: 1vw;
    }
}

@media only screen and (max-width: 768px) {
    .incorrect-button {
        width: 80%;
    }

    .correct-button {
        width: 80%;
    }

    .stats-text {
        font-size: .5em;
    }
}