html {
    font-size: 24px;
}

body {
    font-family: monospace, Courier;
    margin: 0;
    background:#000 url(http://1.bp.blogspot.com/-q7NYia_DjQI/U4t7_J4gwwI/AAAAAAAAMKo/nru4YxfjK6I/s1600/estrellas.png) repeat top center;
}

.estrellas {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}

.estrellas{
    background:transparent url(http://3.bp.blogspot.com/-FwB8aSiMBmI/U4t9MkimRrI/AAAAAAAAMK0/FAlqX8ZFyu8/s1600/twinkling.png) repeat top center;
    z-index:-2;
    -moz-animation:move-twink-back 100s linear infinite;
    -ms-animation:move-twink-back 100s linear infinite;
    -o-animation:move-twink-back 100s linear infinite;
    -webkit-animation:move-twink-back 100s linear infinite;
    animation:move-twink-back 100s linear infinite;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

section {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 2rem;
    margin: 50px 0 0 0;
    font-weight: normal;
    text-align: center;
    color: white;
}

.subtitle {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 50px 0;
    color: white;
}

.question {
    display: block;
    margin: 0 auto;
    width: 70vw;
    height: auto;
    text-align: center;
}

.question > svg {
    width: 70vw;
    max-width: 1200px;
    min-width: 300px;
    height: auto;
}

.question-title {
    font-weight: bolder;
    font-size: 2.5rem;
    color: white;
}

.question-content {
    color: white;
}

p[class~="center"] { 
    text-align: start;
    font-size: 1.3rem;
}

.go-back {
    position: absolute;
    top: 6vh;
    left: 5vw;
    width: 60px;
}

.go-back a {
    text-decoration: none;
    color: white;
}

.go-back a > svg {
    width: auto;
    height: auto;
    animation: backbtn 3s ease-in-out infinite;
}

@keyframes backbtn {
    0% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(-5px);
    }
}

.go-next {
    position: absolute;
    bottom: 6vh;
    right: 5vw;
    width: 60px;
}

.go-next a {
    text-decoration: none;
    color: white;
}

.go-next a > svg {
    width: auto;
    height: auto;
    animation: nextbtn 3s ease-in-out infinite;
}


@keyframes nextbtn {
    0% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}

p[class="redir-btn"] {
    font-size: .7rem;
    text-align: center;
    font-weight: 600;
}

.counter-position{
    position: absolute;
    top: 6vh;
    right: 5vw;
    width: 100px;
}

form {
    display: block;
    margin: -50px auto 0 auto;
}

fieldset {
    display: flex;
    width: 60vw;
    max-width: 900px;
    min-width: 300px;
    border: 0;
    margin: 0 auto;
    justify-content: space-evenly;
}

fieldset svg {
    width: 80%;
    height: auto;
}

input[type="button"] {
    display: none;
}



