html {
    font-size: 24px;
}

body {
    font-family: monospace, Courier;
    margin: 0;
    background:#000 url(http://1.bp.blogspot.com/-q7NYia_DjQI/U4t7_J4gwwI/AAAAAAAAMKo/nru4YxfjK6I/s1600/estrellas.png) repeat top center;
    overflow: hidden;
}

.stars {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}

.stars{
    background:transparent url(http://3.bp.blogspot.com/-FwB8aSiMBmI/U4t9MkimRrI/AAAAAAAAMK0/FAlqX8ZFyu8/s1600/twinkling.png) repeat top center;
    z-index:-2;
    -moz-animation:move-twink-back 100s linear infinite;
    -ms-animation:move-twink-back 100s linear infinite;
    -o-animation:move-twink-back 100s linear infinite;
    -webkit-animation:move-twink-back 100s linear infinite;
    animation:move-twink-back 100s linear infinite;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

section {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: clamp(24px, 5vw, 60px);
    margin: 50px 70px 0 70px;
    font-weight: normal;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.subtitle {
    text-align: center;
    font-size: clamp(24px, 5vw, 60px);
    margin: 0 0 50px 0;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.go-back {
    position: absolute;
    top: 6vh;
    left: 5vw;
    width: 3vw;
    min-width: 40px;
    text-decoration: none;
    color: white;
    z-index: 2;
}

.go-back > svg {
    width: 100%;
    height: 100%;
    animation: backbtn 3s ease-in-out infinite;
}

@keyframes backbtn {
    0% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(-5px);
    }
}

p[class="redir-btn"] {
    font-size: clamp(.7rem, 1vw ,2.1rem);
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 2px 4px black;
}

.level_content {
    position: relative;
    margin: -70px 0 auto;
    display: flex;
    justify-content: center;
    height: 80vh;
}

.svg_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.svg_container svg {
    position: absolute;
    width: 90vw;
    z-index: -1;
}

.svg_container > ol {
    position: relative;
}

.lessons-container {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 1px;
    justify-content: center;
}

.lesson {
    position: relative;
    border-radius: 250px;
    height: 60px;
    width: 120px;
    appearance: button;
    background-color: green;
    border: solid transparent;
    border-width: 0 0 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 25px 0 0 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.lesson-inactive {
    position: relative;
    border-radius: 250px;
    height: 60px;
    width: 120px;
    appearance: button;
    background-color: black;
    border: solid transparent;
    border-width: 0 0 4px;
    box-sizing: border-box;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 25px 0 0 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.lesson-inactive::after {
    background-clip: padding-box;
    border-radius: 250px;
    background-color: #656565;
    border: solid transparent;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.lesson > a {
    font-size: .9rem;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #EAEAEA;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.842);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.p-inactive {
    font-size: .9rem;
    width: 100%;
    height: 100%;
    color: black;
    text-shadow: 1px 1px 2px rgb(235, 235, 235, 0.542);
    position: absolute;
    top: -4px;
    left: 0;
}

.lesson::after {
    background-clip: padding-box;
    border-radius: 250px;
    background-color: greenyellow;
    border: solid transparent;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.lesson:active {
    border-width: 4px 0 0;
    background: none;
}

@media only screen and (max-width: 768px) {
    .svg_container svg:not(.not-300) {
        width: 300vw;
    }

    .svg_container svg[class="not-300"]  {
        width: 125vw;
    }
}

@media only screen and ( 1250px <= width <= 1920px) {
    .lesson {
        width: 250px;
    }

    .lesson-inactive {
        width: 250px;
    }
}

@media only screen and (min-width: 2000px) {
    .lessons-container {
        gap: 2vw;
    }

    .lesson {
        width: 20vw;
        height: 3vw;
    }


    .lesson > a {
        font-size: clamp(21px, 1.4vw, 60px);
        text-shadow: 3px 3px 2px black;
    }

    .p-inactive {
        font-size: clamp(21px, 1.4vw, 60px);
        text-shadow: 3px 3px 2px black;
    }

    .lesson-inactive {
        width: 20vw;
        height: 3vw;
    }
}

