{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'header.css' %}">
</head>
<body>
    <nav id="navbar-area">
        <div class="navbar-logo">
            <h1>SpaceUC</h1>
        </div>
        <div class="navbar-play">
            <div class="navbar-playButon">
                <h1>JUGAR!</h1>
            </div>
        </div>
        <div class="navbar-logIn">
            <h1>INICIAR SESION</h1>
        </div>
    </nav>
   
{% block content %}

{% endblock %}
    
</body>
</html>