{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'header.css' %}">
</head>
<body>
    <nav id="navbar-area">
        <div class="navbar-background">
            <div class="navbar-logo">
                <h1>SpaceUC</h1>
            </div>
            <div class="navbar-main">
                <a class="navbar-about">
                    <h1 class="navbar-aboutButton">Quienes <br> Somos</h1>
                </a>
                <a class="navbar-levels" >
                    <h1 class="navbar-levelsButton">Niveles</h1>
                </a>
                <a href="http://google.com" class="navbar-play">
                    <h1 class="navbar-playButton">JUGAR!</h1>
                </a>
                <a class="navbar-home">
                    <h1 class="navbar-homeButton">Home</h1>
                </a>
                <a class="navbar-resources">
                    <h1 class="navbar-aboutResources">Recursos</h1>
                </a>
            </div>
            <div class="navbar-logIn">
                <div class="navbar-loginButton">
                    <h1>INICIAR SESION</h1>
                </div>
            </div>
        </div>
    </nav>
   
{% block content %}

{% endblock %}
    
</body>
</html>