{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    {% block extrahead %}{% endblock %}
</head>
<body>
    <nav id="navbar-area">
        <div class="navbar-background">
            <div class="navbar-logo">
                <div class="navbar-logo-svg-position"><svg width="190" height="79" viewBox="0 0 204 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="204" height="79" fill="#4D5C7D"/>
                    <rect x="6" y="9" width="192" height="61" rx="10" fill="#222757"/>
                    <text x="32" y="50" font-family="Verdana" font-size="32" fill="white"> SpaceUc </text>
                    </svg></div>
            </div>
            <div class="navbar-main">
                <div class="navbar-panel"> 
                    <div class="navbar-panel-inner">
                        <div class="navbar-panel-podium">
                            <div class="navbar-podium-position">
                                <svg width="64" height="86" viewBox="0 0 84 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="#4D5C7D" d="M0 0h84v86H0z"/><path d="M9 10h58.625L72 14.5l4 3.75V76H13.187L11 74l-2-2.125V10Z" fill="#222757"/>
                                    <ellipse cx="42.5" cy="40" rx="10.5" ry="22" fill="#D9D9D9"/><circle cx="42.5" cy="38.5" r="3.5" fill="#fff"/>
                                    <circle cx="42.5" cy="38.5" r="3.5" fill="#fff"/><circle cx="42.5" cy="28.5" r="3.5" fill="#fff"/><circle cx="42.5" cy="28.5" r="3.5" fill="#fff"/>
                                    <circle cx="42.5" cy="48.5" r="3.5" fill="#fff"/><circle cx="42.5" cy="48.5" r="3.5" fill="#fff"/><path d="M38 56h9v11h-9V56Z" fill="#D9D9D9"/>
                                    <path d="M22.868 69.916 33.49 50.11l6.7 5.487-17.32 14.318Zm39.66-1.024-17.344-14.29 6.691-5.497 10.653 19.787Z" fill="#D9D9D9"/><circle cx="79.5" cy="80.5" r="1.5" fill="#D9D2DA"/>
                                    <circle cx="79.5" cy="80.5" r="1.5" fill="#D9D2DA"/><circle cx="4.5" cy="80.5" r="1.5" fill="#D9D2DA"/><circle cx="79.5" cy="4.5" r="1.5" fill="#D9D2DA"/><circle cx="4.5" cy="4.5" r="1.5" fill="#D9D2DA"/></svg>
                            </div>
                            <div class="navbar-podium-text-position">
                                <h1>PODIO</h1>
                            </div>
                        </div>
                        <div class="navbar-panel-blackButton-left"> 
                            <a href="{% url 'about_page' %}" class="navbar-panel-blackButton-left-inner">
                                <div class="navbar-black-text-position-left"><h1 class="navbar-black-text">Quienes <br> Somos</h1></div>
                            </a>
                            <div class="navbar-panel-greyButton-left">
                                <a href="{% url 'levels_info' %}" class="navbar-panel-greyButton-left-inner">
                                    <div class="navbar-grey-text-position-left"><h1 class="navbar-grey-text">Niveles</h1></div>
                                </a>
                            </div>
                        </div>
                        <a href="http://google.com" class="navbar-play">
                            <div class="navbar-play-inner"><h1 class="navbar-playButton">JUGAR!</h1></div>
                        </a>
                        <div class="navbar-panel-blackButton-right">
                            <div class="navbar-panel-greyButton-right">
                                <a href="{% url 'home_page'%}" class="navbar-panel-greyButton-right-inner">
                                    <div class="navbar-grey-text-position-right"><h1 class="navbar-grey-text">Home</h1></div>
                                </a>
                            </div>
                            <a href="{% url 'resources_page' %}" class="navbar-panel-blackButton-right-inner" >
                                <div class="navbar-black-text-position-right"><h1 class="navbar-black-text">Recursos</h1></div>
                            </a>
                        </div>
                        <div class="navbar-logIn-position" >
                                    {% if user.is_authenticated %}
                                    {% for i in users %}
                                        {% if user.username == i.run_user %}
                                        <div class="navbar-logged-user">
                                            <div class="navbar-logger-user-name">
                                                <h1>{{ i.first_name_user }} {{i.last_name_user}}</h1>
                                            </div>
                                            <div class="navbar-logged-user-icon" >
                                                <img src="{% static 'main/img/defaultIcon.png' %}" alt="">
                                            </div>
                                            <div class="navbar-logger-user-points">
                                                <p>Puntos: {{i.point_user}} <a href="{% url 'log_out_' %}">cerrar sesion</a></p> 
                                            </div>
                                        </div>                         
                                        {% endif %}
                                {% endfor %}
                            {% else %}
                            <div class="navbar-unLogged">
                                <svg width="166" height="86" viewBox="0 0 166 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="166" height="86" fill="#4D5C7D"/>  
                                    <path d="M8 9H83.5H121.25H140.125L150 18L159 25.75V42.5V76H83.5H45.75H26.875H17.4375L12.5 71.5L8 67.625V59.25V42.5V9Z" fill="#222757"/>                                             
                                        <a href="{% url 'login_page' %}"><text x="19" y="50" font-family="Verdana" font-size="19" fill="white"> Iniciar Sesión </text></a>                                                                              
                                    <circle cx="2.5" cy="83.5" r="1.5" fill="#D9D2DA"/>
                                    <circle cx="2.5" cy="2.5" r="1.5" fill="#D9D2DA"/>
                                    <circle cx="162.5" cy="2.5" r="1.5" fill="#D9D2DA"/>
                                    <circle cx="162.5" cy="83.5" r="1.5" fill="#D9D2DA"/>
                                    </svg>
                            </div>
                            
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-special-panel">
                <svg width="132" height="61" viewBox="0 0 132 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5" cy="57" r="4" fill="#E86030"/>
                    <circle cx="6.5" cy="55.5" r="1.5" fill="white"/>
                    <circle cx="60" cy="57" r="4" fill="#25B5C1"/>
                    <circle cx="61.5" cy="55.5" r="1.5" fill="white"/>
                    <rect width="67" height="51" fill="#21252E"/>
                    <rect x="81" y="1" width="6" height="51" fill="#21252E"/>
                    <rect x="78" y="7" width="12" height="7" fill="#25B5C1"/>
                    <rect x="102" y="1" width="6" height="51" fill="#21252E"/>
                    <rect x="123" y="1" width="6" height="51" fill="#21252E"/>
                    <path d="M33.7696 7.04508C34.0846 7.01509 34.4019 7.01509 34.7169 7.04508L41.2914 7.67075C41.5472 7.69509 41.8007 7.73911 42.0497 7.80242L53.151 10.6248C54.4215 10.9478 55.5143 11.7568 56.1941 12.8776L60.2751 19.6057C60.7493 20.3875 61 21.2844 61 22.1988V31C61 33.7614 58.7614 36 56 36H33.5H11C8.23858 36 6 33.7614 6 31V22.3443C6 21.3388 6.30317 20.3566 6.86993 19.526L9.3 15.9648L11.5138 12.7205C12.2129 11.6961 13.2677 10.968 14.4735 10.6777L26.8108 7.70732L33.7696 7.04508Z" fill="#E0E3EC"/>
                    <rect x="19" y="26" width="29" height="5" fill="#C1C3CB"/>
                    <circle cx="63.5" cy="3.5" r="2.5" fill="#D9D2DA"/>
                    <circle cx="3.5" cy="45.5" r="2.5" fill="#D9D2DA"/>
                    <circle cx="63.5" cy="46.5" r="2.5" fill="#D9D2DA"/>
                    <circle cx="3.5" cy="3.5" r="2.5" fill="#D9D2DA"/>
                    <line x1="7" y1="23.95" x2="10" y2="23.95" stroke="black" stroke-width="0.1"/>
                    <line x1="7" y1="27.95" x2="10" y2="27.95" stroke="black" stroke-width="0.1"/>
                    <line x1="7" y1="31.95" x2="10" y2="31.95" stroke="black" stroke-width="0.1"/>
                    <line x1="57" y1="23.95" x2="60" y2="23.95" stroke="black" stroke-width="0.1"/>
                    <line y1="-0.05" x2="2.94165" y2="-0.05" transform="matrix(0.857833 -0.513929 0.535697 0.84441 54.9244 20.1216)" stroke="black" stroke-width="0.1"/>
                    <line y1="-0.05" x2="2.90797" y2="-0.05" transform="matrix(0.578243 -0.815864 0.831035 0.55622 52.3811 16.2308)" stroke="black" stroke-width="0.1"/>
                    <line y1="-0.05" x2="2.90801" y2="-0.05" transform="matrix(-0.578705 -0.815537 0.830726 -0.556681 15.2456 16.4741)" stroke="black" stroke-width="0.1"/>
                    <line y1="-0.05" x2="2.93467" y2="-0.05" transform="matrix(-0.808611 -0.588343 0.610328 -0.792149 12.9713 20.1501)" stroke="black" stroke-width="0.1"/>
                    <line y1="-0.05" x2="2.88553" y2="-0.05" transform="matrix(0.272625 -0.96212 0.966012 0.258496 41.7251 12.5587)" stroke="black" stroke-width="0.1"/>
                    <line y1="-0.05" x2="2.88271" y2="-0.05" transform="matrix(0.173602 -0.984816 0.986425 0.164209 37.4218 11.1493)" stroke="black" stroke-width="0.1"/>
                    <line y1="-0.05" x2="2.8876" y2="-0.05" transform="matrix(-0.307349 -0.951597 0.956497 -0.291741 32.0435 11.1349)" stroke="black" stroke-width="0.1"/>
                    <line y1="-0.05" x2="2.89085" y2="-0.05" transform="matrix(-0.373078 -0.9278 0.934866 -0.355 26.4037 12.4971)" stroke="black" stroke-width="0.1"/>
                    <line y1="-0.05" x2="2.90999" y2="-0.05" transform="matrix(-0.599084 -0.800686 0.8167 -0.577062 19.4205 13.7283)" stroke="black" stroke-width="0.1"/>
                    <line y1="-0.05" x2="2.89207" y2="-0.05" transform="matrix(0.394971 -0.918694 0.926546 0.37618 47.6539 13.8798)" stroke="black" stroke-width="0.1"/>
                    <line x1="57" y1="27.95" x2="60" y2="27.95" stroke="black" stroke-width="0.1"/>
                    <line x1="57" y1="31.95" x2="60" y2="31.95" stroke="black" stroke-width="0.1"/>
                    <path d="M42.0519 14.3091L35.6276 34.0207L30.9555 31.9512L42.0519 14.3091Z" fill="#E96635"/>
                    <circle cx="32" cy="35" r="4" fill="white"/>
                    <circle cx="32" cy="35" r="3" fill="#E96635"/>
                    <rect x="99" y="41" width="12" height="7" fill="#E86030"/>
                    <rect x="120" y="22" width="12" height="7" fill="#C62525"/>
                    </svg>                    
            </div>
        </div>
    </nav>

{% block content %}
    
   
{% endblock %}
    
</body>
</html>