{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'main/css/custom-profile.css' %}">
{% endblock %}

{% block content %}

    <div class = "profile_background">
        <svg width="1550" height="1080" viewBox="0 0 1550 1080" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="550" cy="624" r="1000" fill="#C0C0C0"/>
            <path d="M241 501.5C241 952.44 494.5 1297 494.5 1318C27.5432 1318 -351 952.44 -351 501.5C-351 50.5595 27.5432 -315 494.5 -315C494.5 -315 241 50.5595 241 501.5Z" fill="#B5B0AC"/>
            <circle cx="303" cy="858" r="200" fill="#928E8A"/>
            <circle cx="303" cy="858" r="200" fill="#928E8A"/>
            <path d="M243.736 858C243.736 968.457 304 1052.86 304 1058C192.991 1058 103 968.457 103 858C103 747.543 192.991 658 304 658C304 658 243.736 747.543 243.736 858Z" fill="#86837F"/>
            <ellipse cx="316.5" cy="212" rx="119.5" ry="114" fill="#928E8A"/>
            <path d="M281.021 212C281.021 274.96 317 323.068 317 326C250.726 326 197 274.96 197 212C197 149.04 250.726 98 317 98C317 98 281.021 149.04 281.021 212Z" fill="#86837F"/>
            <ellipse cx="98.5" cy="470" rx="119.5" ry="114" fill="#928E8A"/>
            <path d="M63.0213 470C63.0213 532.96 99 581.068 99 584C32.7258 584 -21 532.96 -21 470C-21 407.04 32.7258 356 99 356C99 356 63.0213 407.04 63.0213 470Z" fill="#86837F"/>
            <circle cx="1193" cy="827" r="50" fill="#928E8A"/>
            <circle cx="750" cy="1077" r="100" fill="#928E8A"/>
            <circle cx="790" cy="738" r="100" fill="#928E8A"/>
            <circle cx="1273" cy="309" r="100" fill="#928E8A"/>
            <circle cx="1277" cy="1080" r="50" fill="#928E8A"/>
            </svg>
        
    </div>  
    

        <main>
            <div class = "container_profile">
                <svg viewBox="0 0 1407 652" fill="none" xmlns="http://www.w3.org/2000/svg" class = "svg_profile">
                    <path d="M0 0H703.5H1055.25H1231.12H1319.06H1363.03L1386.5 21.5L1407 40.75V81.5V163V326V652H703.5H351.75H175.875H87.9375H43.9688L21.5 632.5L0 611.25V570.5V489V326V0Z" fill="#454B78"/>
                    <path d="M614 87L664 55H766H970H1378V328V464.5V532.75L1333 563.5L1276 601H1174H970H562V328V191.5V123.25L614 87Z" fill="#6F7E9F"/>
                    <circle cx="12.5" cy="59.5" r="7.5" fill="#D9D2DA"/>
                    <line x1="8.62371" y1="63.6707" x2="15.6237" y2="55.6707" stroke="#9C9C9C"/>
                    <circle cx="10.5" cy="604.5" r="7.5" fill="#D9D2DA"/>
                    <line x1="6.62371" y1="608.671" x2="13.6237" y2="600.671" stroke="#9C9C9C"/>
                    <circle cx="49.5" cy="640.5" r="7.5" fill="#D9D2DA"/>
                    <line x1="45.6237" y1="644.671" x2="52.6237" y2="636.671" stroke="#9C9C9C"/>
                    <circle cx="1351.5" cy="637.5" r="7.5" fill="#D9D2DA"/>
                    <line x1="1347.62" y1="641.671" x2="1354.62" y2="633.671" stroke="#9C9C9C"/>
                    <circle cx="1395.5" cy="637.5" r="7.5" fill="#D9D2DA"/>
                    <line x1="1391.62" y1="641.671" x2="1398.62" y2="633.671" stroke="#9C9C9C"/>
                    <circle cx="1395.5" cy="590.5" r="7.5" fill="#D9D2DA"/>
                    <line x1="1391.62" y1="594.671" x2="1398.62" y2="586.671" stroke="#9C9C9C"/>
                    <circle cx="1394.5" cy="47.5" r="7.5" fill="#D9D2DA"/>
                    <line x1="1390.62" y1="51.6707" x2="1397.62" y2="43.6707" stroke="#9C9C9C"/>
                    <circle cx="1355.5" cy="13.5" r="7.5" fill="#D9D2DA"/>
                    <line x1="1351.62" y1="17.6707" x2="1358.62" y2="9.67075" stroke="#9C9C9C"/>
                    <circle cx="12.5" cy="11.5" r="7.5" fill="#D9D2DA"/>
                    <line x1="8.62371" y1="15.6707" x2="15.6237" y2="7.67075" stroke="#9C9C9C"/>
                    <circle cx="60.5" cy="11.5" r="7.5" fill="#D9D2DA"/>
                    <line x1="56.6237" y1="15.6707" x2="63.6237" y2="7.67075" stroke="#9C9C9C"/>
                </svg>  
                
               
                {% if user.is_authenticated %}
                <div class = "container_photo">


                    
                {% for us in users %}

                        
                    {% if user.username == us.run_user %}

                        {% for x in perIcon %}
                        
                            {% for ic in icon%}

                                {% if  x.icon_id_icon.id_icon == ic.id_icon and x.user_ours_id_user_ours.run_user == us.run_user %}

                                    <object data="data:image/svg+xml;utf8,{{ ic.svg_icon }}" type="image/svg+xml" class="{% if ic.type_icon == 0 %}head_icon{% elif ic.type_icon == 1 %}body_icon{% elif ic.type_icon == 2 %}background_icon{% endif %}"></object>
                            
                                {% endif %}
                            
                            
                            {% endfor %}
                            
                        
                        
                   
                   
                  
            
                        
                   
                        {% endfor %}   
                    {% endif %}
                            
                        
                {% endfor %}
                        
                    
                        
                </div>

                
                            {% for i in users %}
                                {% if user.username == i.run_user %}
                                <div class = "container_form">
                                    <form action="{% url 'update_profileStudent_' %}" method = "POST" name = "profile_form" id = "profile_form" class = "profile_form">
                                        {% csrf_token %}
                                        <h1>Datos Cuenta</h1>
                                        
                                        
                                        <div class = "container_full_name">
                
                                            <div class = "input_full_name">
                                                <label for="name_student" id="name_student"> Nombre Completo </label>
                                                <input type="text" name="name_student" id="name_student" value = "{{ i.first_name_user }}" readonly>
                                            </div>
                                    
                                            <div class = "input_full_name">
                                                <label for="last_name" id="last_name"> Apellido Completo </label>
                                                <input type="text" name="last_name" id="last_name" value = "{{i.last_name_user}}" readonly>
                                            </div>

                                            
                                            <input type="text" name="id_student" id="id_student" value = "{{i.id_user_ours}}" readonly hidden >
                                        </div>
                
                                        
                                        <div class = "username_control">
                                            <label for="username" id="username"> Nombre de usuario </label>
                                        <input type="text" name="username" id="username" value = "{{i.alias_user}}" >
                                        </div>
                                        
                                        
                                        
                            
                                        
                                        
                                        
                                        <div class = "button_control">
                                            <button type= "submit"  class = "control_button" >
                                                <svg  viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg" class = "btn_form_save">
                                                    <path d="M0 0H50H100H150L177.387 27.5L200 50V100V150V200H100H50L26.1307 176L0 150V100V50V0Z" fill="#E86030"/>
                                                    <path d="M11 11H56H101H146L170.648 35.75L191 56V101V146V191H101H56L34.5176 169.4L11 146V101V56V11Z" fill="#984223"/>
                                                </svg>
                                                <div class = "text_save">
                                                    <p>Guardar</p>
                                                    <p>cambios</p>    
                                                </div>
                                                
                                            </button>
                            
                                            <button type= "reset"  class = "control_button">
                                                <svg  viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg" class = "btn_form_discard">
                                                    <path d="M0 0H50H100H150L177.387 27.5L200 50V100V150V200H100H50L26.1307 176L0 150V100V50V0Z" fill="#25B5C1"/>
                                                    <path d="M10 11H55H100H145L169.648 35.75L190 56V101V146V191H100H55L33.5176 169.4L10 146V101V56V11Z" fill="#1F9DA8"/>
                                                </svg>

                                                <div class = "text_discard">
                                                    <p>Descartar</p>
                                                    <p>cambios</p>    
                                                </div>
                                            </button>
                            
                                        </div>
                                        
                                    </form>
                    
                                </div>
                                {% endif %}
                            {% endfor %}
                {% endif %}                
                
                
            </div>
            
        </main>
            
            
            
            
                
        
           
            
        
        
       
            
            
            
                    
 
   
    


{%  endblock %}