{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nivel</title>
    <link rel="stylesheet" href="{% static 'levels/css/levels.css' %}">
</head>
<body>
    <div class="stars"></div>
    <main>
        <section>
            <h1>Bienvenido Astronauta</h1>
            <p class="subtitle">{{subtitle}}</p>
            <div class="go-back">
                <a href="{% url 'game_page' %}">
                    <svg viewBox="0 0 105 122" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 61L105 0.378265L90 61L105 121.622L0 61Z" fill="#E86030"/>
                        <path d="M13 60.9803L98 12L74.5 60.9803L98 109L13 60.9803Z" fill="#984223"/>
                    </svg>
                    <p class="redir-btn">Volver</p>
                </a>
            </div>
        </section>
        <section class="level_content"> 
            <div class="svg_container">
                {{svg|safe}}
                <div class="lessons-container">
                    <div class="lesson" onclick="redirectToLink()"><a href="{% url 'question' level first %}">Lección 1</a></div>
                    <div class="lesson" onclick="redirectToLink()"><a href="{% url 'question' level second %}">Lección 2</a></div>
                    <div class="lesson" onclick="redirectToLink()"><a href="{% url 'question' level third %}">Lección 3</a></div>
                </div>
            </div>
        </section>
    </main>
</body>

<script>
    function redirectToLink() {
        var link = document.querySelector('.lesson a');
    
        if (link) {
            link.click();
        }
    }
</script>
</html>