{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nivel</title>
    <link rel="stylesheet" href="{% static 'levels/css/levels.css' %}">
    <link rel="icon" href="{% static '/main/img/icon_pages.png' %}" />
    <title>Nivel</title>
</head>
<body>
    <div class="stars"></div>
    <main>
        <section>
            <h1>Bienvenido astronauta</h1>
            <p class="subtitle">{{subtitle}}</p>
            <a href="{% url 'game_page' %}" class="go-back">
                    <svg viewBox="0 0 105 122" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 61L105 0.378265L90 61L105 121.622L0 61Z" fill="#E86030"/>
                        <path d="M13 60.9803L98 12L74.5 60.9803L98 109L13 60.9803Z" fill="#984223"/>
                    </svg>
                    <p class="redir-btn">Volver</p>
            </a>
        </section>
        <section class="level_content"> 
            <div class="svg_container">
                {{svg|safe}}
                <div class="lessons-container">
                    {% if progress >= limit.1 %}
                    <div class="lesson"><a href="{% url 'question' level first %}">Lección 1</a></div>
                    {% else %}
                    <div class="lesson-inactive"><p class="p-inactive">Lección 1</p></div>
                    {% endif %}
                    {% if progress >= limit.2 %}
                    <div class="lesson"><a href="{% url 'question' level second %}">Lección 2</a></div>
                    {% else %}
                    <div class="lesson-inactive"><p class="p-inactive">Lección 2</p></div>
                    {% endif %}
                    {% if progress >= limit.3 %}
                    <div class="lesson"><a href="{% url 'question' level third %}">Lección 3</a></div>
                    {% else %}
                    <div class="lesson-inactive"><p class="p-inactive">Lección 3</p></div>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
</body>
</html>