{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'main/css/resources.css' %}">
<script>
    
    document.addEventListener("DOMContentLoaded", function() {
        
        const miDiv = document.getElementById("click_other_page");
       
        miDiv.addEventListener("click", function() {
        console.log("si")
        window.location.href = "/levels-info/";
    });
    });
</script>
{% endblock %}

{% block content %}

<main>
    <div class = 'box_1'>
            <svg viewBox="0 0 1905 1080" fill="none" xmlns="http://www.w3.org/2000/svg" class = 'svg_star_resources'>
                <ellipse cx="644.5" cy="571" rx="947.5" ry="955" fill="#E3C0B2"/>
                <path d="M1634.72 125.834L1253.96 467.532L1145.99 272.377L1634.72 125.834Z" fill="#E3C0B2"/>
                <path d="M1822.86 800.525L1113.73 908.322L1255.31 355.874L1822.86 800.525Z" fill="#E3C0B2"/>
                <path d="M1532.32 1008.24L908.301 1089.23L1095.33 550.47L1532.32 1008.24Z" fill="#E3C0B2"/>
                <path d="M1641.24 407.506L1143.82 573.837L1140.59 243.871L1641.24 407.506Z" fill="#E3C0B2"/>
                <ellipse cx="643.5" cy="574" rx="758.5" ry="764" fill="#FF4500"/>
                <ellipse cx="644" cy="575.5" rx="664" ry="668.5" fill="#FF7745"/>
                <ellipse cx="644.5" cy="575.5" rx="379.5" ry="382.5" fill="#FDA281"/>
                </svg>  
                <div  class= "text_photo_control">
                    <div class = "text_resource">  
                        <h1 class = "title_resource">Recursos</h1>
                        <p class = "paragraph_resource">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab nostrum eum unde laboriosam quod nam veritatis animi, illum dolore quae, at sit ipsam dolores voluptatem, expedita debitis fugit atque eos! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur dolore modi, praesentium quae odio nulla quia ducimus excepturi sed consequuntur aut accusamus, fuga voluptate quidem magni, aperiam corrupti adipisci unde.</p>                       
                    </div>
                    <div class = "photo_nasa">
                        <svg viewBox="0 0 611 652" fill="none" xmlns="http://www.w3.org/2000/svg" class = "svg_photo_nasa">
                            <path d="M0 0H305.5H458.25H534.625H572.812H591.906L602.098 21.5L611 40.75V81.5V163V326V652H305.5H152.75H76.375H38.1875H19.0938L9.33653 632.5L0 611.25V570.5V489V326V0Z" fill="#454B78"/>
                            <path d="M67 90H316H440.5H502.75H533.875L549.743 119.744L565 148V206V322V554H316H191.5H129.25H98.125L81.6471 538.703L67 525V496V438V322V90Z" fill="#6F7E9F"/>
                            <circle cx="582.5" cy="13.5" r="7.5" fill="#D9D2DA"/>
                            <line x1="578.624" y1="17.6707" x2="585.624" y2="9.67075" stroke="#9C9C9C"/>
                            <circle cx="597.5" cy="46.5" r="7.5" fill="#D9D2DA"/>
                            <line x1="593.624" y1="50.6707" x2="600.624" y2="42.6707" stroke="#9C9C9C"/>
                            <circle cx="599.5" cy="638.5" r="7.5" fill="#D9D2DA"/>
                            <line x1="595.624" y1="642.671" x2="602.624" y2="634.671" stroke="#9C9C9C"/>
                            <circle cx="31.5" cy="638.5" r="7.5" fill="#D9D2DA"/>
                            <line x1="27.6237" y1="642.671" x2="34.6237" y2="634.671" stroke="#9C9C9C"/>
                            <circle cx="16.5" cy="601.5" r="7.5" fill="#D9D2DA"/>
                            <line x1="12.6237" y1="605.671" x2="19.6237" y2="597.671" stroke="#9C9C9C"/>
                            <circle cx="13.5" cy="13.5" r="7.5" fill="#D9D2DA"/>
                            <line x1="9.62371" y1="17.6707" x2="16.6237" y2="9.67075" stroke="#9C9C9C"/>
                            
                            <div class = "contet_photo_nasa" id="data-container">
                                <h1>Api Foto diaria Nasa</h1>

                                
                                {% if data.media_type == "image"  %}
                                    <img src="{{ data.url }}" alt="photo">
                                    <h3>"{{ data.title }}"</h3>
                                {% elif data.media_type == "video"%}
                                    <iframe width="560" height="315" src="{{ data.url }}" frameborder="0" allowfullscreen></iframe>
                                    <h3>"{{ data.title }}"</h3>
                                {% else %}
                                    <img src="https://developers.google.com/static/maps/documentation/streetview/images/error-image-generic.png" alt="photo">
                                    <h3>"Imagen no encontrada"</h3>
                                {% endif %}
                                    
                                
                            </div>
                            </svg> 
                    </div>
                </div>
    </div>
    
    <div class = 'box_2'>
        <a href="{% url 'levels_info' %}" class = "levels">Niveles</a>
        <div class = 'central_galaxy'>
            <svg width="auto" height="auto" viewBox="0 0 572 582" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="534.795" cy="80" rx="496.714" ry="502" fill="#2B066D"/>
                <ellipse cx="534.795" cy="80" rx="372.535" ry="376.5" fill="#7F217F"/>
                <path d="M889.273 80.0001C889.273 277.88 730.553 438.267 534.795 438.267C339.037 438.267 180.317 277.88 180.317 80.0001C180.317 -117.88 339.037 -278.267 534.795 -278.267C730.553 -278.267 889.273 -117.88 889.273 80.0001Z" stroke="#3E0A3E" stroke-width="3"/>
                <ellipse cx="534.795" cy="80" rx="248.357" ry="251" fill="#E35069"/>
                <ellipse cx="534.795" cy="80" rx="206.964" ry="209.167" fill="#FDC455"/>
                <path d="M715.423 80C715.423 180.844 634.538 262.567 534.795 262.567C435.052 262.567 354.167 180.844 354.167 80C354.167 -20.8438 435.052 -102.567 534.795 -102.567C634.538 -102.567 715.423 -20.8438 715.423 80Z" stroke="#FADFAC" stroke-width="3"/>
                <ellipse cx="534.795" cy="74.98" rx="124.178" ry="125.5" fill="#FCE9AA"/>
                <ellipse cx="534.795" cy="80.0001" rx="41.3928" ry="41.8333" fill="#F9F2DD"/>
                <path d="M996.894 80C996.894 337.95 789.99 547.033 534.795 547.033C279.599 547.033 72.6956 337.95 72.6956 80C72.6956 -177.95 279.599 -387.033 534.795 -387.033C789.99 -387.033 996.894 -177.95 996.894 80Z" stroke="#515BBA" stroke-width="3"/>
                <ellipse cx="199.114" cy="387.467" rx="33.1142" ry="33.4667" fill="#2B066D"/>
                <ellipse cx="182.128" cy="346.06" rx="33.1142" ry="33.4667" fill="#2B066D"/>
                <ellipse cx="149.014" cy="312.593" rx="33.1142" ry="33.4667" fill="#2B066D"/>
                <ellipse cx="115.9" cy="267.413" rx="33.1142" ry="33.4667" fill="#2B066D"/>
                <ellipse cx="104.31" cy="213.867" rx="33.1142" ry="33.4667" fill="#2B066D"/>
                <ellipse cx="82.7856" cy="160.32" rx="33.1142" ry="33.4667" fill="#2B066D"/>
                <ellipse cx="80.1142" cy="114.467" rx="33.1142" ry="33.4667" fill="#2B066D"/>
                <path d="M765.095 80.0001C765.095 208.569 661.971 312.767 534.795 312.767C407.619 312.767 304.495 208.569 304.495 80.0001C304.495 -48.5684 407.619 -152.767 534.795 -152.767C661.971 -152.767 765.095 -48.5684 765.095 80.0001Z" stroke="#913242" stroke-width="3"/>
                <ellipse cx="304.651" cy="74.9799" rx="8.27856" ry="8.36667" fill="#E35069"/>
                <ellipse cx="304.651" cy="88.3667" rx="8.27856" ry="8.36667" fill="#E35069"/>
                <ellipse cx="306.307" cy="100.08" rx="8.27856" ry="8.36667" fill="#E35069"/>
                <ellipse cx="307.962" cy="113.467" rx="8.27856" ry="8.36667" fill="#E35069"/>
                <ellipse cx="307.962" cy="126.853" rx="8.27856" ry="8.36667" fill="#E35069"/>
                <ellipse cx="312.93" cy="138.567" rx="8.27856" ry="8.36667" fill="#E35069"/>
                <ellipse cx="317.897" cy="150.28" rx="8.27856" ry="8.36667" fill="#E35069"/>
                <ellipse cx="319.552" cy="161.993" rx="8.27856" ry="8.36667" fill="#E35069"/>
                <ellipse cx="326.175" cy="172.033" rx="8.27856" ry="8.36667" fill="#E35069"/>
                <ellipse cx="331.142" cy="183.747" rx="8.27856" ry="8.36667" fill="#E35069"/>
                <ellipse cx="425.518" cy="222.233" rx="8.27856" ry="8.36667" fill="#FDC455"/>
                <ellipse cx="433.797" cy="230.6" rx="8.27856" ry="8.36667" fill="#FDC455"/>
                <ellipse cx="407.305" cy="200.48" rx="16.5571" ry="16.7333" fill="#FFFFFE" fill-opacity="0.65"/>
                <ellipse cx="407.305" cy="200.48" rx="9.93427" ry="10.04" fill="#DBD5B6" fill-opacity="0.56"/>
                <ellipse cx="336.11" cy="130.2" rx="16.5571" ry="16.7333" fill="#FFFFFE" fill-opacity="0.65"/>
                <ellipse cx="336.11" cy="130.2" rx="9.93427" ry="10.04" fill="#DBD5B6" fill-opacity="0.56"/>
                <ellipse cx="364.257" cy="54.9001" rx="16.5571" ry="16.7333" fill="#FFFFFE" fill-opacity="0.65"/>
                <ellipse cx="364.257" cy="54.9001" rx="9.93427" ry="10.04" fill="#DBD5B6" fill-opacity="0.56"/>
                <ellipse cx="527.344" cy="268.25" rx="12.4178" ry="12.55" fill="#FFFFFE" fill-opacity="0.65"/>
                <ellipse cx="527.344" cy="268.25" rx="7.4507" ry="7.53" fill="#DBD5B6" fill-opacity="0.56"/>
                <ellipse cx="264.914" cy="103.427" rx="8.27856" ry="8.36667" fill="#AD9BAD" fill-opacity="0.65"/>
                <ellipse cx="264.914" cy="103.427" rx="4.96714" ry="5.02" fill="#E6DCF3" fill-opacity="0.56"/>
                <ellipse cx="243.39" cy="305.9" rx="16.5571" ry="16.7333" fill="#AD9BAD" fill-opacity="0.65"/>
                <ellipse cx="243.39" cy="305.9" rx="9.93427" ry="10.04" fill="#E6DCF3" fill-opacity="0.56"/>
                <ellipse cx="286.438" cy="192.113" rx="16.5571" ry="16.7333" fill="#AD9BAD" fill-opacity="0.65"/>
                <ellipse cx="286.438" cy="192.113" rx="9.93427" ry="10.04" fill="#E6DCF3" fill-opacity="0.56"/>
                <ellipse cx="392.404" cy="379.527" rx="24.8357" ry="25.1" fill="#AD9BAD" fill-opacity="0.65"/>
                <ellipse cx="392.404" cy="379.527" rx="14.9014" ry="15.06" fill="#E6DCF3" fill-opacity="0.56"/>
                <ellipse cx="557.975" cy="404.627" rx="16.5571" ry="16.7333" fill="#AD9BAD" fill-opacity="0.65"/>
                <ellipse cx="557.975" cy="404.627" rx="9.93427" ry="10.04" fill="#E6DCF3" fill-opacity="0.56"/>
                <ellipse cx="172.194" cy="170.36" rx="16.5571" ry="16.7333" fill="#AD9BAD" fill-opacity="0.65"/>
                <ellipse cx="172.194" cy="170.36" rx="9.93427" ry="10.04" fill="#E6DCF3" fill-opacity="0.56"/>
                <ellipse cx="49.6714" cy="63.2665" rx="16.5571" ry="16.7333" fill="#553293" fill-opacity="0.74"/>
                <ellipse cx="49.6713" cy="63.2666" rx="9.93427" ry="10.04" fill="#893DEB" fill-opacity="0.56"/>
                <ellipse cx="137.424" cy="250.68" rx="16.5571" ry="16.7333" fill="#553293" fill-opacity="0.74"/>
                <ellipse cx="137.424" cy="250.68" rx="9.93427" ry="10.04" fill="#893DEB" fill-opacity="0.56"/>
                <ellipse cx="394.059" cy="481.6" rx="16.5571" ry="16.7333" fill="#553293" fill-opacity="0.74"/>
                <ellipse cx="394.06" cy="481.6" rx="9.93427" ry="10.04" fill="#893DEB" fill-opacity="0.56"/>
                <ellipse cx="182.128" cy="443.113" rx="16.5571" ry="16.7333" fill="#553293" fill-opacity="0.74"/>
                <ellipse cx="182.128" cy="443.113" rx="9.93427" ry="10.04" fill="#893DEB" fill-opacity="0.56"/>
                <ellipse cx="16.5571" cy="267.413" rx="16.5571" ry="16.7333" fill="#553293" fill-opacity="0.74"/>
                <ellipse cx="16.5571" cy="267.413" rx="9.93427" ry="10.04" fill="#893DEB" fill-opacity="0.56"/>
                </svg>
        </div>
        
        <a href="{% url 'levels_info' %}" class = "box_2_1">
            
            <div id = "click_other_page">
                
                <svg width="auto" height="auto" viewBox="0 0 271 375" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M28.0194 27.7382L205.448 158.432L156.917 206.476L28.0194 27.7382Z" fill="#8A8466"/>
                    <path d="M22.2507 270.73L240.136 237.745L239.772 306.033L22.2507 270.73Z" fill="#8A8466"/>
                    <path d="M134.9 464.449L169.933 365.271L223.453 407.687L134.9 464.449Z" fill="#8A8466"/>
                    <circle cx="281" cy="286" r="175" fill="#8A8466"/>
                    <circle cx="281" cy="287" r="125" fill="#FFD700"/>
                    <circle cx="281" cy="286" r="100" fill="#FFEF99"/>
                    <circle cx="281" cy="286" r="50" fill="#FFFADC"/>
                    </svg>
               
            </div>
            <div class = "pointer">
                <svg width="auto" height="auto" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M51 25.5L0 51L7.28571 25.5L0 0L51 25.5Z" fill="#FF0000"/>
                    <path d="M45.0049 25.4186L3.00488 46.1216L14.6166 25.4186L3.00488 5.12158L45.0049 25.4186Z" fill="#6A0101"/>
                    </svg>   
            </div>
            
        </a>
    </div>
</main>
{%  endblock %}